openapi: 3.0.0
servers:
  - description: Production
    url: https://app.autonet.no/rest/v1
  - description: Development
    url: https://dev.autonet.no/rest/v1
info:
  description: >
    API for accessing dealer data from AutoNet. This API uses token-based authentication. 
    To access any endpoint, clients must include a 'Token' header with the token found 
    [here](https://app.autonet.no/page/company) under the "API Access" tab.
  version: "1.0.0"
  title: AutoNet API
  contact:
    email: zk@autonet.no
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

paths:
  /ad/get:
    get:
      tags:
        - Ads
      summary: Get a list of all ads
      security:
        - TokenHeader: []
      parameters:
        - name: search
          in: query
          description: Min 2 characters mass search
          required: false
          schema:
            type: string
        - name: rows_limit
          in: query
          description: Limit the number of rows returned
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: total_rows
          in: query
          description: Total number of rows available
          required: false
          schema:
            type: integer
            format: int32
        - name: order_by
          in: query
          description: Specify the field to order the results by
          required: false
          schema:
            type: string
            enum:
              - update_date
              - creation_date
              - publish_date
              - sale_type
              - contact_id
              - total_price
        - name: order_direction
          in: query
          description: Specify the direction of sorting (e.g., ASC for ascending, DESC for descending)
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ads_id:
                      type: integer
                      format: int32
                    vehicles_id:
                      type: integer
                      format: int32
                    internal_id:
                      type: integer
                      format: int32
                    sale_type:
                      type: string
                      enum:
                        - USED_CAR
                        - NEW_CAR
                        - USED_MC
                        - NEW_MC
                        - MOBILEHOME
                        - CARAVAN
                        - TRAILER
                        - BUS
                        - LEASING
                        - CAR_AUCTION
                        - CAR_SUBSCRIPTION
                    title:
                      type: string
                    registration_price:
                      type: integer
                      format: int32
                    total_price:
                      type: integer
                      format: int32
                    preferences:
                      $ref: '#/components/schemas/Preferences'
                    creation_date:
                      type: integer
                      format: int32
                    update_date:
                      type: integer
                      format: int32
                    publish_date:
                      type: integer
                      format: int32
                    creation_member_id:
                      type: integer
                      format: int32
                    update_member_id:
                      type: integer
                      format: int32
                    publish_member_id:
                      type: integer
                      format: int32
                    make_model:
                      type: string
                    license_number:
                      type: string
                    vin:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                    eu_last:
                      type: integer
                      format: int32
                    eu_next:
                      type: integer
                      format: int32
                    incoming_date:
                      type: integer
                      format: int32
                    vehiclewarranty:
                      type: string
                    first_registration_date:
                      type: string
                      format: d/m/Y
                    vehicle:
                      type: object
                      properties:
                        type:
                          type: string
                        body:
                          type: string
                        registration_class:
                          type: integer
                          format: int32
                        fuel:
                          type: integer
                          format: int32
                        transmission:
                          type: string
                          enum:
                            - A
                            - M
                        wheel_drive:
                          type: string
                          enum:
                            - FOURWHEELEDRIVE
                            - FRONTWHEELDRIVE
                            - REARWHEELDRIVE
                        exterior_color:
                          type: integer
                          format: int32
                        weight:
                          type: integer
                          format: int32
                    thumbnail_url:
                      type: string
                    svv_status:
                      type: string
                    ad_status:
                      type: string
                    vehicle_status:
                      type: string
  /ad/get/{ID}:
    get:
      tags:
        - Ads
      summary: Get a specific ad
      description: Returns a specific car sale ad based on the provided ID
      security:
        - TokenHeader: []
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID of the ad
          schema:
            type: integer
      responses:
        '200':
          description: A specific ad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Ad not found

  /ad/getByVehicleId/{vehicleID}:
    get:
      tags:
        - Ads
      summary: Get a specific ad
      description: Returns a specific car sale ad based on the provided vehicle ID
      security:
        - TokenHeader: []
      parameters:
        - name: vehicleID
          in: path
          required: true
          description: Unique vehicle ID
          schema:
            type: integer
      responses:
        '200':
          description: A specific ad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Ad not found

  /ad/getByIdentifier/{Identifier}:
    get:
      tags:
        - Ads
      summary: Get ad by identifier
      description: Returns ad information based on license plate or VIN
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
            example: EL23061
      responses:
        '200':
          description: Ad found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    vehicle_id:
                      type: integer
                      format: int32
                      example: 3488
                    ad_id:
                      type: integer
                      format: int32
                      example: 2478
                    license_number:
                      type: string
                      example: EL23061
                    vin:
                      type: string
                      example: 5YJSA2DN2DFP14338
                    status:
                      type: string
                      enum:
                        - DRAFT
                        - COMING_SOON
                        - IN_STOCK
                        - SOLD
                        - DEACTIVATED
                      example: COMING_SOON
                    creation_date:
                      type: integer
                      format: int64
                      description: Unix timestamp
                      example: 1776329266
        '404':
          description: Ad not found

  /ad/defaultDescription:
    get:
      tags:
        - Ads
      summary: Get the default description template
      description: Returns the default HTML description used by certain dealerships or templates
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Default HTML description
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: HTML content
        '404':
          description: Not found

  /ad/upload/{ID}:
    post:
      tags:
        - Ads
      summary: Upload media to an ad
      description: |
        Upload images, PDF documents, or link a YouTube video to an ad.  
        * **type** decides which payload fields are required.  
        * When *type* is **IMAGE** or **DOCUMENT**, attach the files as `multipart/form-data`.  
        * When *type* is **VIDEO**, send a single YouTube video ID instead of files.
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID of the ad
          schema:
            type: integer
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  enum:
                    - IMAGE
                    - DOCUMENT
                    - VIDEO
                  description: Select from IMAGE, DOCUMENT or VIDEO
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: |
                    Needed only when **type** is **IMAGE** or **DOCUMENT**.  
                    • **IMAGE** → image files (`image/*`) only.  
                    • **DOCUMENT** → image files or PDFs (`image/*`, `application/pdf`).
                youtube_id:
                  type: string
                  description: |
                    Needed only when **type** is **VIDEO**.  
                    Provide the 11-char ID from the YouTube URL.
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    enum:
                      - SUCCESS
                      - WARNING
                      - ERROR
                    example: "SUCCESS"
                  message:
                    type: string
                    example: "3 files uploaded"

  /ad/deleteUpload/{ID}:
    delete:
      tags:
        - Ads
      summary: Delete media from an ad
      description: |
        Deletes one or more images, videos, or documents from an ad.
        * **IMAGE** / **VIDEO** — removes media from storage (and from FINN if the ad is for sale).
        * **DOCUMENT** — removes the uploaded document from storage.
        
        Returns per-ID results so the caller knows which deletions succeeded or failed.
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID of the ad
          schema:
            type: integer
        - name: type
          in: query
          required: true
          description: The type of media to delete
          schema:
            type: string
            enum:
              - IMAGE
              - VIDEO
              - DOCUMENT
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - media_ids
              properties:
                media_ids:
                  type: array
                  items:
                    type: integer
                    format: int32
                  description: Array of media IDs to delete
                  example: [101, 102, 103]
      responses:
        '200':
          description: Deletion results per media ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    enum:
                      - SUCCESS
                    example: "SUCCESS"
                  results:
                    type: object
                    description: Keyed by media ID, each value contains the result of that deletion
                    additionalProperties:
                      type: object
                      properties:
                        response:
                          type: string
                          enum:
                            - SUCCESS
                            - ERROR
                        message:
                          type: string
                    example:
                      101:
                        response: "SUCCESS"
                        message: "Media deleted"
                      102:
                        response: "ERROR"
                        message: "Media not found"
        '404':
          description: Ad not found

  /vehicle/get/{Identifier}:
    get:
      tags:
        - Vehicles
      summary: Get technical vehicle specifications
      description: Cost per call NOK 0.50
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Not found
  /vehicle/add:
    post:
      tags:
        - Vehicles
      summary: Add a new vehicle
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - identifier
              properties:
                vehicle-number:
                  type: string
                  description: License plate, VIN or FINN code
                type:
                  type: string
                  description: Type of add
                  enum:
                    - NULL
                    - PURCHASE
                    - COMMISION
                    - BROKERAGE
                    - TRADEIN
                    - IMPORT
                status:
                  type: string
                  enum:
                    - DRAFT
                    - COMING_SOON
                    - IN_STOCK
                mileage:
                  type: integer
                  format: int32
                address_id:
                  type: integer
                  format: int32
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: Lead ID

  /vehicle/oemEquipment/{Identifier}:
    get:
      tags:
        - Vehicles
      summary: Get OEM vehicle equipment list
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    name:
                      type: string
        '404':
          description: Not found
  /vehicle/serviceHistory/{Identifier}:
    get:
      tags:
        - Vehicles
      summary: Get Service History of vehicle
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                      description: Format is in kilometers, but if it is miles, it'll be handled serversided
                    date:
                      type: integer
                      format: int32
                    actions:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          description:
                            type: string
                    location:
                      type: object
                      properties:
                        name:
                          type: string
                        address:
                          type: object
                          properties:
                            address:
                              type: string
                            postal_code:
                              type: string
                            city:
                              type: string
                            country:
                              type: string
        '404':
          description: Not found
  /vehicle/owners/{Identifier}:
    get:
      tags:
        - Vehicles
      summary: Get All Owners of vehicle
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    type:
                      type: string
                      enum:
                        - PERSON
                        - COMPANY
                    name:
                      type: string
                    dob:
                      type: string
                      format: date
                      description: The date in Y-m-d format, only applicable if type is PERSON
                    organization_number:
                      type: integer
                      format: int32
                      description: Only applicable if type is COMPANY
                    email:
                      type: string
                      description: Only for internal usage, connected with <Contacts> Model
                    mobile:
                      type: integer
                      format: int32
                      description: Only for internal usage, connected with <Contacts> Model
                    address:
                      type: object
                      properties:
                        address:
                          type: string
                        postal_code:
                          type: string
                        city:
                          type: string
                        country:
                          type: string
                    is_leasing:
                      type: boolean
                      default: false
                    is_co_owner:
                      type: boolean
                      default: false
                    creation_date:
                      type: integer
                      format: int32
        '404':
          description: Not found
  /vehicle/insuranceClaims/{Identifier}:
    get:
      tags:
        - Vehicles
      summary: BETA! Get All records from the claims from the FOSS register
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Not found

  /member/get:
    get:
      tags:
        - Members
      summary: Get All members
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                    email:
                      type: string
                    telephone:
                      type: string
                    date_of_birth:
                      type: string
                      default: Y-m-d
                    address:
                      type: object
                      properties:
                        street:
                          type: string
                        postal_code:
                          type: string
                        city:
                          type: string
                        country:
                          type: string
                    postal_code:
                      type: integer
                      format: int32
                    city:
                      type: string
                    job_name:
                      type: string
                    profile_picture_url:
                      type: string
                    2fa_activated:
                      type: boolean
                    permissions:
                      type: string
                    notifications:
                      type: string
                    active:
                      type: boolean
        '404':
          description: Not found

  /leads/get:
    get:
      tags:
        - Leads
      summary: Get all leads
      description: Returns a list of all leads for the authenticated company
      security:
        - TokenHeader: []
      parameters:
        - name: search
          in: query
          required: false
          description: Optional search filter
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by lead status
          schema:
            type: string
            enum:
              - NEW
              - ONGOING
              - WAITING_ON_CUSTOMER
              - CLOSED
              - COMPLETED
        - name: category_id
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: List of leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadItem'
        '404':
          description: No leads found


  /leads/get/{ID}:
    get:
      tags:
        - Leads
      summary: Get a specific lead
      description: Returns a single lead by ID
      security:
        - TokenHeader: []
      parameters:
        - name: ID
          in: path
          required: true
          description: Lead ID
          schema:
            type: integer
      responses:
        '200':
          description: Lead found
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadItem'
        '404':
          description: Lead not found


  /leads/getCorrespondence/{ID}:
    get:
      tags:
        - Leads
      summary: Get all correspondence for a lead
      description: Returns emails, SMS, notes and FINN messages for a given lead
      security:
        - TokenHeader: []
      parameters:
        - name: ID
          in: path
          required: true
          description: Lead ID
          schema:
            type: integer
      responses:
        '200':
          description: Correspondence list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeadCorrespondence'
        '404':
          description: No correspondence found

  /leads/categories:
    get:
      tags:
        - Leads
      summary: Get All leads/mailbox categories
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
        '404':
          description: Not found
  /leads/categories/{ID}:
    get:
      tags:
        - Leads
      summary: Get All leads/mailbox categories
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
        '404':
          description: Not found
  /leads/add:
    post:
      tags:
        - Leads
      summary: Insert lead
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - source
                - name
              properties:
                source:
                  type: string
                  description: The main source of the lead
                  enum:
                    - EMAIL
                    - SMS_IN
                    - TELEPHONE
                    - FACEBOOK
                    - CONTACT_FORM
                    - FINN
                name:
                  type: string
                  description: Overall description of lead
                email:
                  type: string
                phone:
                  type: string
                  description: Max 8 chars, do not include +47, etc.
                category_id:
                  type: integer
                  format: int32
                assigned_member_ids:
                  type: string
                  format: JSON
                  description: JSON encoded with member IDs, e.g., ["20004", "20008"]
                vehicle_ids:
                  type: string
                  format: JSON
                  description: JSON encoded with vehicle IDs, e.g., ["10004", "10008"]
                priority:
                  type: string
                  enum:
                    - LOW
                    - MEDIUM
                    - HIGH
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: Lead ID
  /leads/incoming/{ID}:
    post:
      tags:
        - Leads
      summary: Insert lead correspondance
      parameters:
        - name: ID
          in: path
          required: true
          description: Lead ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - message_id
                - source
                - body
              properties:
                message_id:
                  type: string
                  description: Unique identifier per message, can for example me email/SMS UUID
                source:
                  type: string
                  description: The main source of the lead
                  enum:
                    - EMAIL
                    - SMS_IN
                    - FACEBOOK
                    - NOTE
                subject:
                  type: string
                  description: Primarily used for emails
                body:
                  type: string
                  format: html
                  description: HTML content
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: Correspondance ID
  /leads/sendMessage/{ID}:
    post:
      tags:
        - Leads
      summary: Send email/SMS
      parameters:
        - name: ID
          in: path
          required: true
          description: Lead ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - type
                - content
              properties:
                type:
                  type: string
                  description: PORTAL_EMAIL, PORTAL_SMS, PORTAL_NOTE
                  enum:
                    - PORTAL_EMAIL
                    - PORTAL_SMS
                    - PORTAL_NOTE
                content:
                  type: string
                  format: html
                  description: HTML content
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: Correspondance ID

  /documents/get/{table}/{tableID}:
    get:
      tags:
        - Documents
      summary: Get uploaded documents
      description: Returns all uploaded documents linked to a table and table ID
      security:
        - TokenHeader: []
      parameters:
        - name: table
          in: path
          required: true
          description: Reference table
          schema:
            type: string
            enum:
              - leads
              - vehicles
              - contracts
              - leads_email_files
        - name: tableID
          in: path
          required: true
          description: Reference table ID
          schema:
            type: integer
      responses:
        '200':
          description: Documents list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    company_id:
                      type: integer
                    reference_table:
                      type: string
                    reference_id:
                      type: integer
                    relation_table:
                      type: string
                      nullable: true
                    relation_id:
                      type: integer
                    url:
                      type: string
                      format: uri
                    description:
                      type: string
                      nullable: true
                    password:
                      type: string
                      nullable: true
                    position:
                      type: integer
                    creation_date:
                      type: integer
                      format: int64
                    creation_member_id:
                      type: integer
                    creation_ip_address:
                      type: string
        '404':
          description: No documents found

  /documents/upload/{table}/{tableID}:
    post:
      tags:
        - Documents
      summary: Upload documents
      description: Upload one or more documents (PDF or images) to a table reference
      security:
        - TokenHeader: []
      parameters:
        - name: table
          in: path
          required: true
          description: Reference table
          schema:
            type: string
            enum:
              - leads
              - vehicles
              - contracts
              - leads_email_files
        - name: tableID
          in: path
          required: true
          description: Reference table ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - multiple_files
              properties:
                multiple_files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Multiple files (PDF or images)
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Opplastning fullført.
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
                  ids:
                    type: array
                    items:
                      type: integer
                  data:
                    type: array
                    items:
                      type: object
        '400':
          description: Invalid upload
        '401':
          description: Unauthorized

  /deals/list:
    get:
      tags: [Offers]
      summary: List offers
      description: |
        Returns a paginated list of offers with optional filters. Each offer includes its customer, vehicles, and status counts.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number
        - name: perPage
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Results per page
        - name: status
          in: query
          schema:
            type: string
            default: all
            enum: [all, draft, sent, accepted, declined, expired, converted]
          description: Filter by offer status
        - name: type
          in: query
          schema:
            type: string
            example: salg,innkjop
          description: Comma-separated offer types to filter by (`innkjop`, `kommisjon`, `formidling`, `salg`)
        - name: sortBy
          in: query
          schema:
            type: string
            default: newest
            enum: [newest, oldest, price_desc, price_asc, customer_asc]
          description: Sort order
        - name: search
          in: query
          schema:
            type: string
          description: Search by offer number, customer name, or vehicle
        - name: customer
          in: query
          schema:
            type: string
          description: Search by customer name
        - name: vehicle
          in: query
          schema:
            type: string
          description: Search by vehicle make, model, or registration number
        - name: priceFrom
          in: query
          schema:
            type: number
          description: Minimum total price
        - name: priceTo
          in: query
          schema:
            type: number
          description: Maximum total price
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
            example: "2025-01-01"
          description: Created from date (YYYY-MM-DD)
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
            example: "2025-12-31"
          description: Created to date (YYYY-MM-DD)
      responses:
        "200":
          description: Paginated list of offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OfferSummary"
                  page:
                    type: integer
                    example: 1
                  perPage:
                    type: integer
                    example: 25
                  pages:
                    type: integer
                    example: 4
                    description: Total number of pages
                  total:
                    type: integer
                    example: 87
                    description: Total number of offers matching filters
                  statusCounts:
                    $ref: "#/components/schemas/StatusCounts"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /deals/get/{id}:
    get:
      tags: [Offers]
      summary: Get offer
      description: Returns a single offer with full details including vehicles, financing, line items, trade-ins, events, signatures, and attachments.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Offer ID
      responses:
        "200":
          description: Full offer details
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    $ref: "#/components/schemas/OfferDetail"
        "404":
          description: Offer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                response: error
                message: Tilbud ikke funnet
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /deals/add:
    post:
      tags: [Offers]
      summary: Create offer
      description: |
        Creates a new deal offer. The `offer_type` field is required. Vehicles, line items, and trade-ins can be included in the same request.

        A unique `offer_number` and `portal_token` are generated automatically.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreate"
            example:
              offer_type: salg
              customer_id: 1234
              total_price: 450000
              vat_amount: 90000
              vat_rate: 25
              include_vat: 1
              valid_until: "2025-08-01"
              notes: "Tilbud gjelder i 14 dager."
              vehicles:
                - vehicle_id: 5678
                  make: Toyota
                  model: RAV4
                  year: 2023
                  registration_number: AB12345
                  vehicle_price: 420000
                  discount_amount: 10000
                  is_new: 0
                  mileage: 35000
                  fuel_type: Hybrid
                  include_financing: 1
                  financing_type: annuity
                  down_payment: 100000
                  interest_rate: 5.99
                  loan_term_months: 60
                  loan_amount: 320000
                  monthly_payment: 6195
              line_items:
                - name: Lakk-beskyttelse
                  description: Keramisk lakk-beskyttelse
                  quantity: 1
                  unit_price: 15000
                  total_price: 15000
                  vat_rate: 25
              trade_ins:
                - make: Volkswagen
                  model: Golf
                  year: 2018
                  registration_number: CD67890
                  mileage: 95000
                  estimated_value: 120000
                  vehicle_price: 115000
                  condition: good
      responses:
        "201":
          description: Offer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 42
                        description: The new offer ID
                      portal_token:
                        type: string
                        example: a1b2c3d4e5f6...
                        description: Token for customer portal access
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                response: error
                message: "Missing or invalid offer_type. Allowed: innkjop, kommisjon, formidling, salg"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /deals/update/{id}:
    put:
      tags: [Offers]
      summary: Update offer
      description: |
        Updates an existing offer. Only the fields provided will be updated.

        **Note:** `vehicles`, `line_items`, and `trade_ins` arrays are replaced entirely — not merged. Include all items you want to keep.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Offer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferUpdate"
            example:
              total_price: 440000
              notes: "Oppdatert pris etter forhandling."
              vehicles:
                - vehicle_id: 5678
                  make: Toyota
                  model: RAV4
                  year: 2023
                  vehicle_price: 410000
                  discount_amount: 10000
      responses:
        "200":
          description: Offer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 42
                      portal_token:
                        type: string
        "404":
          description: Offer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /deals/updateStatus/{id}:
    post:
      tags: [Offers]
      summary: Update offer status
      description: |
        Updates the status of an offer. Timestamps are set automatically:
        - Setting `sent` → sets `sent_at`
        - Setting `accepted` → sets `accepted_at`
        - Setting `declined` → sets `declined_at`

        When declining, include a `decline_reason`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Offer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [draft, sent, accepted, declined]
                  description: The new status
                decline_reason:
                  type: string
                  description: Reason for declining (required when status is `declined`)
            examples:
              send:
                summary: Send offer to customer
                value:
                  status: sent
              accept:
                summary: Mark as accepted
                value:
                  status: accepted
              decline:
                summary: Mark as declined
                value:
                  status: declined
                  decline_reason: "Kunden fant bedre pris hos konkurrent"
      responses:
        "200":
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Status oppdatert
        "400":
          description: Invalid status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                response: error
                message: "Missing or invalid status. Allowed: draft, sent, accepted, declined"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /deals/delete/{id}:
    delete:
      tags: [Offers]
      summary: Delete offer
      description: |
        Permanently deletes an offer and all related data (vehicles, line items, trade-ins, events, signatures).

        Only offers with status `draft` or `sent` can be deleted.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Offer ID
      responses:
        "200":
          description: Offer deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Tilbud slettet
        "400":
          description: Cannot delete (offer is accepted, declined, or converted)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Offer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /company/get:
    get:
      tags:
        - Company
      summary: Get company data
      description: Returns a company data
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Company data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'

  /data/makes:
    get:
      tags:
        - Metadata
      summary: Get makes
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Makes data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    vehicle_type:
                      type: string
                      description: Mappings from getVehicleTypes endpoint
                    value:
                      type: string
                    display:
                      type: string

  /data/makes/{ID}:
    get:
      tags:
        - Metadata
      description: Get a make
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets make
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    vehicle_type:
                      type: string
                      description: Mappings from getVehicleTypes endpoint
                    value:
                      type: string
                    display:
                      type: string

  /data/makeModels:
    get:
      tags:
        - Metadata
      summary: Get models
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Models data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/makeModels/{MAKE_ID}:
    get:
      tags:
        - Metadata
      description: Gets models by make
      parameters:
        - name: MAKE_ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/makeModels/{MAKE_ID}/{ID}:
    get:
      tags:
        - Metadata
      description: Gets model
      parameters:
        - name: MAKE_ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets model
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/vehicleTypes:
    get:
      tags:
        - Metadata
      summary: Get vehicle types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Vehicle types data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string

  /data/fuels:
    get:
      tags:
        - Metadata
      summary: Get fuel types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Fuel types data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/fuels/{ID}:
    get:
      tags:
        - Metadata
      description: Gets fuel type
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets fuel type
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/colors:
    get:
      tags:
        - Metadata
      summary: Get colors
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Colors data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/colors/{ID}:
    get:
      tags:
        - Metadata
      description: Gets color
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets color
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/bodyTypes:
    get:
      tags:
        - Metadata
      summary: Get body types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Body types data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/bodyTypes/{ID}:
    get:
      tags:
        - Metadata
      description: Gets body type
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets body type
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/taxClasses:
    get:
      tags:
        - Metadata
      summary: Get tax classes
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Tax classes data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string

  /data/taxClasses/{ID}:
    get:
      tags:
        - Metadata
      description: Gets tax class
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets tax class
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    value:
                      type: string
                    display:
                      type: string


  /insurance/get:
    get:
      tags:
        - Insurance
      description: Returns list of insurances
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of insurances

  /insurance/get/{ID}:
    get:
      tags:
        - Insurance
      description: Returns an insurance
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets insurance

  /contracts/insurance/calculate:
    post:
      tags:
        - Insurance
      description: Calculates rates of insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year

                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name

                insurance_company_id:
                  type: integer
                  format: int32
                  description: Insurance company ID
                coverage:
                  type: string
                  enum:
                    - SUPER
                    - FULL
                    - PARTIAL
                    - STANDARD
                  description: The type of insurance
                mileage:
                  type: number
                  format: int32
                  description: Max mileage of insurance
                bonus:
                  type: number
                  format: int32
                  description: Estimated contact bonus
              required:
                - vehicle
                - owner
                - insurance_company_id
                - coverage
                - mileage
                - bonus
      responses:
        '200':
          description: Pricelist
          content:
            application/json:
              schema:
                type: object
                properties:
                  price_per_month:
                    type: integer
                    format: int32

  /contracts/insurance/order:
    post:
      tags:
        - Insurance
      description: Orders insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year

                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name

                insurance_company_id:
                  type: integer
                  format: int32
                  description: Insurance company ID
                coverage:
                  type: string
                  enum:
                    - SUPER
                    - FULL
                    - PARTIAL
                    - STANDARD
                  description: The type of insurance
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
                mileage:
                  type: number
                  format: int32
                  description: Max mileage of insurance
                bonus:
                  type: number
                  format: int32
                  description: Estimated contact bonus
              required:
                - vehicle
                - owner
                - insurance_company_id
                - coverage
                - start_date
                - mileage
                - bonus
      responses:
        '200':
          description: Insurance created
          content:
            application/json:
              schema:
                type: object
                properties:
                  insurance_id:
                    type: integer
                    format: int32

  /warranty/get:
    get:
      tags:
        - Warranty
      description: Returns list of warranties
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of warranties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warranties'


  /warranty/get/{ID}:
    get:
      tags:
        - Warranty
      description: Returns a warranty
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets warranty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warranties'

  /contracts/warranty/calculate:
    post:
      tags:
        - Warranty
      description: Calculates rates of warranty from warranty company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage

                warranty_company_id:
                  type: integer
                  format: int32
                  description: Warranty company ID
              required:
                - vehicle
                - warranty_company_id
      responses:
        '200':
          description: Warranties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warranties'

  /contracts/warranty/order:
    post:
      tags:
        - Warranty
      description: Orders insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage

                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name

                warranty_company_id:
                  type: integer
                  format: int32
                  description: Warranty company ID
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
              required:
                - vehicle
                - owner
                - warranty_company_id
                - start_date
      responses:
        '200':
          description: Created warranty
          content:
            application/json:
              schema:
                type: object
                properties:
                  warranty_id:
                    type: integer
                    format: int32

  /finance/get:
    get:
      tags:
        - Finance
      description: Returns list of finance options
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of finance options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warranties'


  /finance/get/{ID}:
    get:
      tags:
        - Finance
      description: Returns a finance
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets finance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warranties'

  /contracts/finance/calculate:
    post:
      tags:
        - Finance
      description: Calculates rates of finance from finance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage

                owners:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - OWNER
                        - CO_OWNER
                    entity_type:
                      type: string
                      enum:
                        - PERSON
                        - COMPANY
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                    email:
                      type: string
                    phone_number:
                      type: integer
                      format: int32
                  required:
                    - type
                    - entity_type
                    - pid
                    - first_name
                    - last_name
                    - email
                    - phone_number

                finance_company_id:
                  type: integer
                  format: int32
                  description: Finance company ID
              required:
                - vehicle
                - owners
                - finance_company_id
      responses:
        '200':
          description: Finances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warranties'

  /contracts/finance/order:
    post:
      tags:
        - Finance
      description: Orders finance from finance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage

                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name

                finance_company_id:
                  type: integer
                  format: int32
                  description: Finance company ID
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
              required:
                - vehicle
                - owner
                - finance_company_id
                - start_date
      responses:
        '200':
          description: Created finance
          content:
            application/json:
              schema:
                type: object
                properties:
                  warranty_id:
                    type: integer
                    format: int32

  /autoforecast/predict:
    post:
      tags:
        - AutoPrognose®
      summary: Predicts the price of a car and its estimated time to sell
      description: |
        This endpoint uses machine learning models to predict the price of a car and how long it will take to sell. Users can select from different model versions, provide vehicle details, and specify additional checks for more accurate predictions.
      security:
        - TokenHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: |
                    The machine learning model to use for prediction.
                    Options: "2021.5" (deprecated), "2022.4", "2023.9", "2024.11".
                  enum:
                    - 2021.5
                    - 2022.4
                    - 2023.9
                    - 2024.11
                  example: "2024.11"
                scope:
                  type: string
                  description: |
                    Define whether the prediction is for retail, auction, or wholesale markets.
                  enum:
                    - RETAIL
                    - AUCTION
                    - WHOLESALE
                  example: "RETAIL"
                date:
                  type: object
                  description: Optional date for historical predictions. Can go back to May 2021.
                  properties:
                    month:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 12
                      example: 10
                    year:
                      type: integer
                      format: int32
                      minimum: 2021
                      example: 2023
                  required:
                    - month
                    - year
                vehicle:
                  type: object
                  description: Object containing key vehicle information.
                  properties:
                    license_number:
                      type: string
                      description: License plate number of the vehicle. Required if `vin` is not provided.
                      example: "AB12345"
                    vin:
                      type: string
                      description: VIN (Vehicle Identification Number) of the vehicle. Required if `license_number` is not provided.
                      example: "1HGCM82633A123456"
                    mileage:
                      type: integer
                      format: int32
                      example: 75000
                    condition:
                      type: string
                      description: |
                        General condition of the vehicle.
                      enum:
                        - EXCELLENT
                        - GOOD
                        - FAIR
                        - POOR
                      example: "GOOD"
                  required:
                    - vin
                    - mileage
                checks:
                  type: object
                  description: Additional checks for prediction accuracy.
                  properties:
                    service_history:
                      type: boolean
                      description: Whether service history is available.
                      example: true
                    equipment_data:
                      type: boolean
                      description: Whether equipment data is available.
                      example: true
                    insurance_claims:
                      type: boolean
                      description: Whether insurance claims are available.
                      example: false
                    include_market_trends:
                      type: boolean
                      description: Include market trend analysis in the prediction.
                      example: false
              required:
                - model
                - vin
                - mileage
      responses:
        '200':
          description: Prediction results
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: number
                    description: Predicted price of the vehicle.
                    example: 15000.75
                  time_to_sell:
                    type: integer
                    format: int32
                    description: Estimated time to sell the vehicle in days
                    example: 10
                  market_demand_score:
                    type: integer
                    format: int32
                    description: Market demand score (1-10) for the vehicle.
                    example: 7
                  price_range:
                    type: object
                    description: Predicted price range for the vehicle.
                    properties:
                      min:
                        type: number
                        example: 14500
                      max:
                        type: number
                        example: 15500
                  historical_price_trend:
                    type: array
                    description: Historical price trend for the vehicle model.
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: "2023-01"
                        average_price:
                          type: number
                          example: 16000
                  valuation_details:
                    type: object
                    description: Breakdown of factors affecting the predicted price.
                    properties:
                      base_price:
                        type: number
                        example: 14000
                      adjustments:
                        type: object
                        properties:
                          mileage:
                            type: number
                            example: -500
                          condition:
                            type: number
                            example: 1000
                          market_trends:
                            type: number
                            example: 500
                  comparable_listings:
                    type: array
                    description: List of similar vehicles in the market.
                    items:
                      type: object
                      properties:
                        price:
                          type: number
                          example: 15000
                        location:
                          type: string
                          example: "Oslo"
                        mileage:
                          type: integer
                          example: 55000
                        date_listed:
                          type: string
                          format: date
                          example: "2023-11-10"
                  alerts:
                    type: array
                    description: List of alerts or warnings related to the prediction.
                    items:
                      type: string
                      example: "High mileage detected. This may lower the resale value."
        '401':
          description: Unauthorized. Token is missing or invalid.
        '500':
          description: Internal server error

  /autoforecast/models:
    get:
      tags:
        - AutoPrognose®
      summary: Get available machine learning models
      description: Returns a list of available machine learning models with their details.
      security:
        - TokenHeader: []
      responses:
        '200':
          description: List of machine learning models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      type: string
                      description: Version of the machine learning model.
                      example: "2024.11"
                    description:
                      type: string
                      description: Details about the model's functionality and use cases.
                      example: "Latest model optimized for electric and hybrid vehicles."
                    is_deprecated:
                      type: boolean
                      description: Indicates if the model is deprecated.
                      example: false
        '500':
          description: Internal server error

components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: integer
          format: int32
        organization_number:
          type: integer
          format: int32
        name:
          type: string
        is_department:
          type: boolean
        address:
          type: object
          properties:
            street:
              type: string
            postal_code:
              type: string
            city:
              type: string
            country:
              type: string
        contact:
          type: object
          properties:
            telephone:
              type: string
            email:
              type: string
            website:
              type: string
        root_member:
          type: object
          properties:
            main_company:
              type: boolean
            id:
              type: integer
              format: int32
            name:
              type: string
            email:
              type: string
            phone:
              type: string
        payment_plan_id:
          type: integer
          format: int32
        payment_vehicles_per_month:
          type: integer
          format: int32
        billing_interval:
          type: integer
          format: int32
        payment_vehicle_restriction_months:
          type: integer
          format: int32
        integrations:
          type: object
          properties:
            autosys:
              type: object
            email:
              type: object
              properties:
                domain:
                  type: string
                username:
                  type: string
                quote:
                  type: integer
                  format: int32
                forwarding_email:
                  type: string
            sms:
              type: integer
              format: int32
            vegvesen:
              type: object
            marketing:
              type: object
            accounting:
              type: object
              properties:
                api_platform:
                  type: string
                api_data:
                  type: string
                department_code:
                  type: string
                is_two_way:
                  type: boolean
                status:
                  type: string
                  enum:
                    - ACTIVE
                    - DEACTIVATED
        trade_permit:
          type: object
          properties:
            new_vehicle:
              type: object
            used_vehicle:
              type: object
              properties:
                police_country:
                  type: string
                police_destrict:
                  type: string
                expiry_date_unix:
                  type: integer
                  format: int32
        www:
          type: object
          properties:
            domain:
              type: string
            theme:
              type: string
            iframe:
              type: boolean
            has_full_website:
              type: boolean
        accounting_identifier:
          type: string

    Warranties:
      type: object
      properties:
        warranty_id:
          type: integer
          format: int32
        vehicle_type:
          type: string
          enum:
            - USED_CAR
            - NEW_CAR
            - USED_MC
            - NEW_MC
            - MOBILEHOME
            - CARAVAN
            - TRAILER
            - BUS
            - LEASING
            - CAR_AUCTION
            - CAR_SUBSCRIPTION
        vendor_name:
          type: string
        name:
          type: string
        description:
          type: string
        coverage_months:
          type: integer
          format: int32
        coverage_mileage:
          type: integer
          format: int32
        max_coverage_mileage:
          type: integer
          format: int32
        max_coverage_age:
          type: integer
          format: int32
        price:
          type: integer
          format: int32
        status:
          type: string
          enum:
            - ACTIVE
            - DEACTIVATED

    Ad:
      type: object
      properties:
        ads_id:
          type: integer
          format: int32
        sale_type:
          type: string
          enum:
            - USED_CAR
            - NEW_CAR
            - USED_MC
            - NEW_MC
            - MOBILEHOME
            - CARAVAN
            - TRAILER
            - BUS
            - LEASING
            - CAR_AUCTION
            - CAR_SUBSCRIPTION
        title:
          type: string
        description:
          type: string
          description: HTML based description
        contact_id:
          type: integer
          format: int32
        registration_price:
          type: integer
          format: int32
        total_price:
          type: integer
          format: int32
        preferences:
          $ref: '#/components/schemas/Preferences'
        address:
          $ref: '#/components/schemas/Address'
        creation_date_unix:
          type: integer
          format: int64
        update_date_unix:
          type: integer
          format: int64
        publish_date_unix:
          type: integer
          format: int64
        sold_date_unix:
          type: integer
          format: int64
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        vehicle:
          type: array
          items:
            $ref: '#/components/schemas/VehicleItem'

    VehicleItem:
      type: object
      properties:
        vehicles_id:
          type: integer
          format: int32
        identifier:
          type: string
          description: Returns license_number or VIN, whatever is available
        license_number:
          type: string
        vin:
          type: string
        year:
          type: integer
          format: int32
        mileage_int:
          type: integer
          format: int32
        fuel:
          type: string
        weight:
          type: integer
          format: int32
        gearbox:
          type: string
        doors:
          type: integer
          format: int32
        seats:
          type: integer
          format: int32
        max_towing:
          type: integer
          format: int32
        total_owners:
          type: integer
          format: int32
        loadingarea:
          type: integer
          format: int32
        batterykwh:
          type: integer
          format: int32
        batteryrange:
          type: integer
          format: int32
        co2:
          type: integer
          format: int32
        tax_class:
          type: string
        body_text:
          type: string
        cc:
          type: integer
          format: int32
        horsepower:
          type: integer
        exterior_color:
          $ref: '#/components/schemas/ColorItem'
        interior_color:
          type: string
        wheel_drive:
          type: string
        vehicletype:
          type: string
        condition_report_url:
          type: string
        vehiclewarranty:
          type: string
        vehiclewarranty_id:
          type: integer
          format: int32
        vehiclewarranty_months:
          type: integer
          format: int32
        vehiclewarranty_mileage:
          type: integer
          format: int32
        maintenanceprogram:
          type: integer
          format: int32
        right_to_exchange:
          type: integer
          format: int32
        first_registration_unix:
          type: integer
          format: int32
        eu_last_date:
          type: string
        eu_next_date:
          type: string
        make:
          $ref: '#/components/schemas/MakeItem'
        model:
          $ref: '#/components/schemas/ModelItem'
        make_model:
          type: string
        creation_date_unix:
          type: integer
          format: int32
        update_date_unix:
          type: integer
          format: int32
        data_update_date_unix:
          type: integer
          format: int32
        stand_time:
          type: integer
          format: int32
        incoming_date_unix:
          type: integer
          format: int32
        equipment:
          type: array
          items:
            type: string
        vehicle_status:
          type: string
        svv_status:
          type: string

    ColorItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    MakeItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    ModelItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        make_finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    Preferences:
      type: object
      properties:
        hide_contact:
          type: boolean
          description: Contact person is available through API, but provider should hide
        hide_license:
          type: boolean
          description: License is available through API, but provider should hide
        hide_vin:
          type: boolean
          description: VIN is available through API, but provider should hide
        tradein_accepted:
          type: boolean
          description: Primarily used in AutoNet's www service to stop visitors from sending tradein-requests

    Address:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          description: What kind of address it is
          enum:
            - VISITING
            - INVOICING
            - POSTAL
        address:
          type: string
        postal_code:
          type: integer
          format: int32
        city:
          type: string
        country:
          type: string
        status:
          type: string
          description: The status of the address
          enum:
            - ACTIVE
            - DEACTIVATED

    LeadItem:
      type: object
      properties:
        id:
          type: integer
        sender_uuid:
          type: string
          nullable: true
        category_id:
          type: integer
        contact_form_id:
          type: integer
        source:
          type: string
        assigned_members_ids:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        vehicle:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        customer:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            email:
              type: string
            telephone:
              type: string
        is_prioritized:
          type: boolean
        is_starred:
          type: boolean
        is_opened:
          type: boolean
        is_last_customer_reply:
          type: boolean
        creation:
          type: object
          properties:
            date:
              type: integer
            member_id:
              type: integer
            formatted:
              type: string
        update:
          type: object
          properties:
            date:
              type: integer
            member_id:
              type: integer
            formatted:
              type: string
        follow_up_date:
          type: integer
        status:
          type: string
          enum:
            - NEW
            - COMPLETED
            - CLOSED
            - IN_PROGRESS
    LeadCorrespondence:
      type: object
      properties:
        company_id:
          type: integer
        type:
          type: string
        id:
          type: string
        source:
          type: string
        source_name:
          type: string
        avatar:
          type: string
        title:
          type: string
          nullable: true
        content:
          type: string
          description: HTML content
        identifier:
          type: string
          nullable: true
        submittedData:
          type: object
        time:
          type: string
        unit_time:
          type: integer
        priority:
          type: string
        assigned_to:
          type: integer
        remind_on_time:
          type: integer
        creation_member_id:
          type: string
        creation_ip_address:
          type: string
          nullable: true
        is_incoming:
          type: boolean
        sent:
          type: boolean
        ses_status:
          type: string
          nullable: true
        status:
          type: integer

    MediaItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        priority:
          type: integer
          format: int32
          description: Position of image, 0 is first
        url:
          type: string
          description: Full URI to AWS-auth
        description:
          type: string
          description: User-set description
        date_unix:
          type: integer
          format: int64
        background_removed:
          type: boolean
          description: If AutoNet's removebackground service has been applied
        logo_background:
          type: boolean
          description: If AutoNet's logobackground service has been applied

    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          example: error
        message:
          type: string

    StatusCounts:
      type: object
      properties:
        all:
          type: integer
          description: Total offers
        draft:
          type: integer
          description: Draft offers (not expired)
        sent:
          type: integer
          description: Sent offers (not expired)
        expired:
          type: integer
          description: Draft or sent offers past valid_until date
        accepted:
          type: integer
          description: Accepted offers (includes converted)
        declined:
          type: integer
        converted:
          type: integer

    Customer:
[...]
