openapi: 3.0.0
servers:
  - description: AutoNet REST API
    url: https://app.autonet.no/rest/v1
info:
  description: >
    API for accessing dealer data from AutoNet. This API uses token-based authentication. 
    To access any endpoint, clients must include a 'Token' header with the token found 
    [here](https://app.autonet.no/page/company) under the "API Access" tab.
  version: "1.0.0"
  title: AutoNet API
  contact:
    email: zk@autonet.no
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
    
paths:
  /company/get:
    get:
      tags:
        - Company
      summary: Get company data
      description: Returns a company data
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Company data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
                
  /data/makes:
    get:
      tags:
        - Metadata
      summary: Get makes
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Makes data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      vehicle_type:
                        type: string
                        description: Mappings from getVehicleTypes endpoint
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/makes/{ID}:
    get:
      tags:
        - Metadata
      description: Get a make
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets make
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      vehicle_type:
                        type: string
                        description: Mappings from getVehicleTypes endpoint
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/makeModels:
    get:
      tags:
        - Metadata
      summary: Get models
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Models data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/makeModels/{MAKE_ID}:
    get:
      tags:
        - Metadata
      description: Gets models by make
      parameters:
        - name: MAKE_ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets models
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/makeModels/{MAKE_ID}/{ID}:
    get:
      tags:
        - Metadata
      description: Gets model
      parameters:
        - name: MAKE_ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets model
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
          
  /data/vehicleTypes:
    get:
      tags:
        - Metadata
      summary: Get vehicle types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Vehicle types data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                  
  /data/fuels:
    get:
      tags:
        - Metadata
      summary: Get fuel types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Fuel types data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/fuels/{ID}:
    get:
      tags:
        - Metadata
      description: Gets fuel type
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets fuel type
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/colors:
    get:
      tags:
        - Metadata
      summary: Get colors
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Colors data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/colors/{ID}:
    get:
      tags:
        - Metadata
      description: Gets color
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets color
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/bodyTypes:
    get:
      tags:
        - Metadata
      summary: Get body types
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Body types data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/bodyTypes/{ID}:
    get:
      tags:
        - Metadata
      description: Gets body type
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets body type
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/taxClasses:
    get:
      tags:
        - Metadata
      summary: Get tax classes
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Tax classes data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string
                  
  /data/taxClasses/{ID}:
    get:
      tags:
        - Metadata
      description: Gets tax class
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets tax class
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      value:
                        type: string
                      display:
                        type: string

                        
  /insurance/get:
    get:
      tags:
        - Insurance
      description: Returns list of insurances
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of insurances
                
  /insurance/get/{ID}:
    get:
      tags:
        - Insurance
      description: Returns an insurance
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets insurance
          
  /contracts/insurance/calculate:
    post:
      tags:
        - Insurance
      description: Calculates rates of insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    
                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name
                    
                insurance_company_id:
                    type: integer
                    format: int32
                    description: Insurance company ID
                coverage:
                  type: string
                  enum:
                  - SUPER
                  - FULL
                  - PARTIAL
                  - STANDARD
                  description: The type of insurance
                mileage:
                  type: number
                  format: int32
                  description: Max mileage of insurance
                bonus:
                  type: number
                  format: int32
                  description: Estimated contact bonus
              required:
                - vehicle
                - owner
                - insurance_company_id
                - coverage
                - mileage
                - bonus
      responses:
        '200':
          description: Pricelist
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    price_per_month:
                      type: integer
                      format: int32

  /contracts/insurance/order:
    post:
      tags:
        - Insurance
      description: Orders insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    
                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name
                    
                insurance_company_id:
                    type: integer
                    format: int32
                    description: Insurance company ID
                coverage:
                  type: string
                  enum:
                  - SUPER
                  - FULL
                  - PARTIAL
                  - STANDARD
                  description: The type of insurance
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
                mileage:
                  type: number
                  format: int32
                  description: Max mileage of insurance
                bonus:
                  type: number
                  format: int32
                  description: Estimated contact bonus
              required:
                - vehicle
                - owner
                - insurance_company_id
                - coverage
                - start_date
                - mileage
                - bonus
      responses:
        '200':
          description: Insurance created
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    insurance_id:
                      type: integer
                      format: int32

  /warranty/get:
    get:
      tags:
        - Warranty
      description: Returns list of warranties
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of warranties
          content:
            application/json:
              schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Warranties'

                
  /warranty/get/{ID}:
    get:
      tags:
        - Warranty
      description: Returns a warranty
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets warranty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warranties'
          
  /contracts/warranty/calculate:
    post:
      tags:
        - Warranty
      description: Calculates rates of warranty from warranty company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage
                    
                warranty_company_id:
                    type: integer
                    format: int32
                    description: Warranty company ID
              required:
                - vehicle
                - warranty_company_id
      responses:
        '200':
          description: Warranties
          content:
            application/json:
              schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Warranties'

  /contracts/warranty/order:
    post:
      tags:
        - Warranty
      description: Orders insurance from insurance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage
                    
                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name
                    
                warranty_company_id:
                    type: integer
                    format: int32
                    description: Warranty company ID
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
              required:
                - vehicle
                - owner
                - warranty_company_id
                - start_date
      responses:
        '200':
          description: Created warranty
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    warranty_id:
                      type: integer
                      format: int32

  /finance/get:
    get:
      tags:
        - Finance
      description: Returns list of finance options
      security:
        - TokenHeader: []
      responses:
        '200':
          description: A list of finance options
          content:
            application/json:
              schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Warranties'

                
  /finance/get/{ID}:
    get:
      tags:
        - Finance
      description: Returns a finance
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID
          schema:
            type: integer
      security:
        - TokenHeader: []
      responses:
        '200':
          description: Gets finance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warranties'
          
  /contracts/finance/calculate:
    post:
      tags:
        - Finance
      description: Calculates rates of finance from finance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage
                    
                owners:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - OWNER
                      - CO_OWNER
                    entity_type:
                      type: string
                      enum:
                      - PERSON
                      - COMPANY
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                    email:
                      type: string
                    phone_number:
                      type: integer
                      format: int32
                  required:
                    - type
                    - entity_type
                    - pid
                    - first_name
                    - last_name
                    - email
                    - phone_number
                    
                finance_company_id:
                    type: integer
                    format: int32
                    description: Finance company ID
              required:
                - vehicle
                - owners
                - finance_company_id
      responses:
        '200':
          description: Finances
          content:
            application/json:
              schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Warranties'

  /contracts/finance/order:
    post:
      tags:
        - Finance
      description: Orders finance from finance company
      security:
        - TokenHeader: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    license_number:
                      type: string
                    year:
                      type: integer
                      format: int32
                    mileage:
                      type: integer
                      format: int32
                  required:
                    - license_number
                    - year
                    - mileage
                    
                owner:
                  type: object
                  properties:
                    pid:
                      type: integer
                      format: int32
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                    - pid
                    - first_name
                    - last_name
                    
                finance_company_id:
                    type: integer
                    format: int32
                    description: Finance company ID
                start_date:
                  type: number
                  format: int64
                  description: Start date in unix timestamp
              required:
                - vehicle
                - owner
                - finance_company_id
                - start_date
      responses:
        '200':
          description: Created finance
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    warranty_id:
                      type: integer
                      format: int32

  /ad/get:
    get:
      tags:
        - Ads
      summary: Get a list of all ads
      description: Returns a list of all car sale ads
      security:
        - TokenHeader: []
      parameters:
        - name: rows_limit
          in: query
          description: Limit the number of rows returned
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: total_rows
          in: query
          description: Total number of rows available
          required: false
          schema:
            type: integer
            format: int32
        - name: order_by
          in: query
          description: Specify the field to order the results by
          required: false
          schema:
            type: string
            enum:
              - update_date
              - creation_date
              - publish_date
              - sale_type
              - contact_id
              - total_price
        - name: order_direction
          in: query
          description: Specify the direction of sorting (e.g., ASC for ascending, DESC for descending)
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: A list of ads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ad'
  /ad/get/{ID}:
     get:
      tags:
        - Ads
      summary: Get a specific ad
      description: Returns a specific car sale ad based on the provided ID
      security:
        - TokenHeader: []
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID of the ad
          schema:
            type: integer
      responses:
        '200':
          description: A specific ad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Ad not found
  /vehicle/get/{Identifier}:
     get:
      tags:
        - Vehicles
      summary: Get technical vehicle specifications
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
        '404':
          description: Not found
  /vehicle/getOemEquipment/{Identifier}:
     get:
      tags:
        - Vehicles
      summary: Get OEM vehicle equipment list
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                      name:
                        type: string
        '404':
          description: Not found
  /vehicle/getServiceHistory/{Identifier}:
     get:
      tags:
        - Vehicles
      summary: Get Service History of vehicle
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      mileage:
                        type: integer
                        format: int32
                        description: Format is in kilometers, but if it is miles, it'll be handled serversided
                      date:
                        type: integer
                        format: int32
                      actions:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                      location:
                        type: object
                        properties:
                          name:
                            type: string
                          address:
                            type: object
                            properties:
                              address:
                                type: string
                              postal_code:
                                type: string
                              city:
                                type: string
                              country:
                                type: string
        '404':
          description: Not found
  /vehicle/getOwners/{Identifier}:
     get:
      tags:
        - Vehicles
      summary: Get All Owners of vehicle
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                      type:
                        type: string
                        enum:
                        - PERSON
                        - COMPANY
                      name:
                        type: string
                      dob:
                        type: string
                        format: date
                        description: The date in Y-m-d format, only applicable if type is PERSON
                      organization_number:
                        type: integer
                        format: int32
                        description: Only applicable if type is COMPANY
                      email:
                        type: string
                        description: Only for internal usage, connected with <Contacts> Model
                      mobile:
                        type: integer
                        format: int32
                        description: Only for internal usage, connected with <Contacts> Model
                      address:
                        type: object
                        properties:
                          address:
                            type: string
                          postal_code:
                            type: string
                          city:
                            type: string
                          country:
                            type: string
                      is_leasing:
                        type: boolean
                        default: false
                      is_co_owner:
                        type: boolean
                        default: false
                      creation_date:
                        type: integer
                        format: int32
        '404':
          description: Not found
  /vehicle/getInsuranceClaims/{Identifier}:
     get:
      tags:
        - Vehicles
      summary: BETA! Get All records from the claims from the FOSS register
      security:
        - TokenHeader: []
      parameters:
        - name: Identifier
          in: path
          required: true
          description: License plate or VIN
          schema:
            type: string
      responses:
        '200':
          description: Data
          content:
            application/json:
              schema:
                  type: array
                  items:
                    type: object
        '404':
          description: Not found
components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: integer
          format: int32
        organization_number:
          type: integer
          format: int32
        name:
          type: string
        is_department:
          type: boolean
        address:
          type: object
          properties:
            street:
              type: string
            postal_code:
              type: string
            city:
              type: string
            country:
              type: string
        contact:
          type: object
          properties:
            telephone:
              type: string
            email:
              type: string
            website:
              type: string
        root_member:
          type: object
          properties:
            main_company:
              type: boolean
            id:
              type: integer
              format: int32
            name:
              type: string
            email:
              type: string
            phone:
              type: string
        payment_plan_id:
          type: integer
          format: int32
        payment_vehicles_per_month:
          type: integer
          format: int32
        billing_interval:
          type: integer
          format: int32
        payment_vehicle_restriction_months:
          type: integer
          format: int32
        integrations:
          type: object
          properties:
            autosys:
              type: object
            email:
              type: object
              properties:
                domain:
                  type: string
                username:
                  type: string
                quote:
                  type: integer
                  format: int32
                forwarding_email:
                  type: string
            sms:
              type: integer
              format: int32
            vegvesen:
              type: object
            marketing:
              type: object
            accounting:
              type: object
              properties:
                api_platform:
                  type: string
                api_data:
                  type: string
                department_code:
                  type: string
                is_two_way:
                  type: boolean
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - DEACTIVATED
        trade_permit:
          type: object
          properties:
            new_vehicle:
              type: object
            used_vehicle:
              type: object
              properties:
                police_country:
                  type: string
                police_destrict:
                  type: string
                expiry_date_unix:
                  type: integer
                  format: int32
        www:
          type: object
          properties:
            domain:
              type: string
            theme:
              type: string
            iframe:
              type: boolean
            has_full_website:
              type: boolean
        accounting_identifier:
          type: string

    Warranties:
      type: object
      properties:
        warranty_id:
          type: integer
          format: int32
        vehicle_type:
          type: string
          enum:
            - USED_CAR
            - NEW_CAR
            - USED_MC
            - NEW_MC
            - MOBILEHOME
            - CARAVAN
            - TRAILER
            - BUS
            - LEASING
            - CAR_AUCTION
            - CAR_SUBSCRIPTION
        vendor_name:
          type: string
        name:
          type: string
        description:
          type: string
        coverage_months:
          type: integer
          format: int32
        coverage_mileage:
          type: integer
          format: int32
        max_coverage_mileage:
          type: integer
          format: int32
        max_coverage_age:
          type: integer
          format: int32
        price:
          type: integer
          format: int32
        status:
          type: string
          enum:
            - ACTIVE
            - DEACTIVATED

    Ad:
      type: object
      properties:
        ads_id:
          type: integer
          format: int32
        sale_type:
          type: string
          enum:
            - USED_CAR
            - NEW_CAR
            - USED_MC
            - NEW_MC
            - MOBILEHOME
            - CARAVAN
            - TRAILER
            - BUS
            - LEASING
            - CAR_AUCTION
            - CAR_SUBSCRIPTION
        title:
          type: string
        description:
          type: string
          description: HTML based description
        contact_id:
          type: integer
          format: int32
        registration_price:
          type: integer
          format: int32
        total_price:
          type: integer
          format: int32
        preferences:
          $ref: '#/components/schemas/Preferences'
        address:
          $ref: '#/components/schemas/Address'
        creation_date_unix:
          type: integer
          format: int64
        update_date_unix:
          type: integer
          format: int64
        publish_date_unix:
          type: integer
          format: int64
        sold_date_unix:
          type: integer
          format: int64
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        vehicle:
          type: array
          items:
            $ref: '#/components/schemas/VehicleItem'

    VehicleItem:
          type: object
          properties:
            vehicles_id:
              type: integer
              format: int32
            identifier:
              type: string
              description: Returns license_number or VIN, whatever is available
            license_number:
              type: string
            vin:
              type: string
            year:
              type: integer
              format: int32
            mileage_int:
              type: integer
              format: int32
            fuel:
              type: string
            weight:
              type: integer
              format: int32
            gearbox:
              type: string
            doors:
              type: integer
              format: int32
            seats:
              type: integer
              format: int32
            max_towing:
              type: integer
              format: int32
            total_owners:
              type: integer
              format: int32
            loadingarea:
              type: integer
              format: int32
            batterykwh:
              type: integer
              format: int32
            batteryrange:
              type: integer
              format: int32
            co2:
              type: integer
              format: int32
            tax_class:
              type: string
            body_text:
              type: string
            cc:
              type: integer
              format: int32
            horsepower:
              type: integer
            exterior_color:
              $ref: '#/components/schemas/ColorItem'
            interior_color:
              type: string
            wheel_drive:
              type: string
            vehicletype:
              type: string
            condition_report_url:
              type: string
            vehiclewarranty:
              type: string
            vehiclewarranty_id:
              type: integer
              format: int32
            vehiclewarranty_months:
              type: integer
              format: int32
            vehiclewarranty_mileage:
              type: integer
              format: int32
            maintenanceprogram:
              type: integer
              format: int32
            right_to_exchange:
              type: integer
              format: int32
            first_registration_unix:
              type: integer
              format: int32
            eu_last_date:
              type: string
            eu_next_date:
              type: string
            make:
              $ref: '#/components/schemas/MakeItem'
            model:
              $ref: '#/components/schemas/ModelItem'
            make_model:
              type: string
            creation_date_unix:
              type: integer
              format: int32
            update_date_unix:
              type: integer
              format: int32
            data_update_date_unix:
              type: integer
              format: int32
            stand_time:
              type: integer
              format: int32
            incoming_date_unix:
              type: integer
              format: int32
            equipment:
              type: array
              items:
                type: string
            vehicle_status:
              type: string
            svv_status:
              type: string

    ColorItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    MakeItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    ModelItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        make_finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    Preferences:
      type: object
      properties:
        hide_contact:
          type: boolean
          description: Contact person is available through API, but provider should hide
        hide_license:
          type: boolean
          description: License is available through API, but provider should hide
        hide_vin:
          type: boolean
          description: VIN is available through API, but provider should hide
        tradein_accepted:
          type: boolean
          description: Primarily used in AutoNet's www service to stop visitors from sending tradein-requests

    Address:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          description: What kind of address it is
          enum:
            - VISITING
            - INVOICING
            - POSTAL
        address:
          type: string
        postal_code:
          type: integer
          format: int32
        city:
          type: string
        country:
          type: string
        status:
          type: string
          description: The status of the address
          enum:
            - ACTIVE
            - DEACTIVATED
          
    MediaItem:
      type: object
      properties:
        id:
            type: integer
            format: int32
        priority:
            type: integer
            format: int32
            description: Position of image, 0 is first
        url:
            type: string
            description: Full URI to AWS-auth
        description:
            type: string
            description: User-set description
        date_unix:
            type: integer
            format: int64
        background_removed:
            type: boolean
            description: If AutoNet's removebackground service has been applied
        logo_background:
            type: boolean
            description: If AutoNet's logobackground service has been applied
  securitySchemes:
    TokenHeader:
      type: apiKey
      in: header
      name: Token
security:
  - TokenHeader: []
