openapi: 3.0.0
info:
  title: AutoNet REST API
  description: |
    REST API for the AutoNet Dealer Management System. Manage ads, vehicles, contracts, deals, leads, members, documents, and reference data.

    ## Authentication

    All requests require an API token passed via the `token` header:

    ```
    token: YOUR_API_TOKEN
    ```

    Tokens are managed in **Company Settings > API Access** in the AutoNet portal. Each token has scopes (e.g. `deals`, `contract`, `ad`) that control access.

    ## Rate Limiting

    - **500 requests per day** per token
    - Headers included in every response:
      - `X-RateLimit-Limit` — Max requests per day
      - `X-RateLimit-Remaining` — Remaining requests
      - `X-RateLimit-Reset` — Unix timestamp when limit resets
    - Exceeding the limit returns `429 Too Many Requests`

    ## Response Format

    All JSON responses include a `response` field:

    ```json
    { "response": "success", "data": { ... } }
    ```

    ```json
    { "response": "error", "message": "Error description" }
    ```

    ## Available Scopes

    | Scope | Description |
    |---|---|
    | `ad` | Ads management — list, get, create, upload media |
    | `vehicle` | Vehicle lookup — registration data, equipment, service history, owners |
    | `contract` | Contracts — CRUD, sign/complete, PDF documents |
    | `deals` | Deals/offers — CRUD, status management |
    | `leads` | Leads/CRM — list, create, correspondence |
    | `member` | Team members — list members |
    | `data` | Reference data — makes, models, fuels, colors, body types |
    | `documents` | Document uploads — get and upload files |
  version: 1.0.0

servers:
  - url: https://app.autonet.no/rest/v1
    description: Production

tags:
  - name: Ads
    description: |
      Manage vehicle ads/listings. Scope: `ad`

      **Statuses:** `FOR_SALE`, `RESERVED`, `SOLD`, `DRAFT`, `COMING_SOON`, `IN_STOCK`, `INACTIVE`

  - name: Vehicles
    description: |
      Vehicle lookup from Norwegian public registries (Vegvesen, Brønnøysund). Scope: `vehicle`

      Lookup by license plate or VIN. Returns technical data, liens, equipment, service history, and ownership info.

  - name: Contracts
    description: |
      Manage vehicle contracts (kontrakter). Scope: `contract`

      **Types:** `SALE`, `PURCHASE`, `SPECIAL_PURCHASE`, `BROKERAGE`, `COMMISION`

      **Statuses:** `DRAFT` → `CONTRACT_SIGNED` → `COMPLETED`

  - name: Deals
    description: |
      Manage deal offers (tilbud). Scope: `deals`

      **Offer types:** `salg` (sale), `innkjop` (purchase), `kommisjon` (commission), `formidling` (brokerage)

      **Statuses:** `draft` → `sent` → `accepted` / `declined` → `converted`

  - name: Leads
    description: |
      CRM leads management. Scope: `leads`

      Create leads, add correspondence, send messages, and manage categories.

  - name: Members
    description: |
      Team members. Scope: `member`

      List company members with contact info, permissions, and notification settings.

  - name: Data
    description: |
      Reference/lookup data. Scope: `data`

      Vehicle makes, models, fuels, colors, body types, tax classes, and vehicle types.

  - name: Documents
    description: |
      File uploads and retrieval. Scope: `documents`

      Upload and retrieve documents attached to various entities (ads, contracts, leads, etc.).

# ═══════════════════════════════════════════════════════════════════════
#  ADS
# ═══════════════════════════════════════════════════════════════════════

paths:

  /ad/get:
    get:
      tags: [Ads]
      summary: List ads
      description: |
        Returns ads filtered by status. Supports search, pagination, and sorting.
      operationId: adList
      parameters:
        - name: status
          in: query
          schema:
            type: string
            default: FOR_SALE
            enum: [FOR_SALE, RESERVED, SOLD, DRAFT, COMING_SOON, IN_STOCK, INACTIVE]
        - name: search
          in: query
          schema:
            type: string
          description: Search by make, model, registration number, etc.
        - name: rows_limit
          in: query
          schema:
            type: integer
            default: 100
          description: Max number of results
        - name: total_rows
          in: query
          schema:
            type: integer
          description: If set, includes total count
        - name: order_by
          in: query
          schema:
            type: string
          description: Field to sort by
        - name: order_direction
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /ad/get/{id}:
    get:
      tags: [Ads]
      summary: Get ad by ID
      description: Returns a single ad with full details.
      operationId: adGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            default: FOR_SALE
            enum: [FOR_SALE, RESERVED, SOLD, DRAFT, COMING_SOON, IN_STOCK, INACTIVE]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/getByVehicleId/{vehicleId}:
    get:
      tags: [Ads]
      summary: Get ad by vehicle ID
      description: Returns the ad associated with a vehicle.
      operationId: adGetByVehicleId
      parameters:
        - name: vehicleId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/getByIdentifier/{identifier}:
    get:
      tags: [Ads]
      summary: Find ad by license plate or VIN
      description: |
        Searches for vehicles by license plate or VIN and returns matching ads. Results are ordered by status priority (FOR_SALE first).
      operationId: adGetByIdentifier
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: License plate number or VIN
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    vehicle_id:
                      type: integer
                    ad_id:
                      type: integer
                      nullable: true
                    license_number:
                      type: string
                    vin:
                      type: string
                    status:
                      type: string
                    creation_date:
                      type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/defaultDescription:
    get:
      tags: [Ads]
      summary: Get default ad description
      description: Returns the company's default ad description text.
      operationId: adDefaultDescription
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/add:
    post:
      tags: [Ads]
      summary: Create ad
      description: |
        Creates a new vehicle and ad listing. Performs VIN/registration lookup and creates the vehicle record.
      operationId: adAdd
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: License plate or VIN
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/upload/{id}:
    post:
      tags: [Ads]
      summary: Upload media to ad
      description: |
        Upload images, videos, or documents to an ad.

        - `IMAGE`: Upload image files via multipart form
        - `VIDEO`: Provide a YouTube video ID
        - `DOCUMENT`: Upload document files via multipart form
      operationId: adUpload
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Ad ID
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [IMAGE, VIDEO, DOCUMENT]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                youtube_id:
                  type: string
                  description: YouTube video ID (for VIDEO type)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /ad/deleteUpload/{id}:
    delete:
      tags: [Ads]
      summary: Delete media from ad
      description: |
        Delete one or more media items (images, videos, documents) from an ad.
      operationId: adDeleteUpload
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Ad ID
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [IMAGE, VIDEO, DOCUMENT]
        - name: media_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
          description: Array of media IDs to delete
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  results:
                    type: object
                    additionalProperties:
                      type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  VEHICLES
  # ═══════════════════════════════════════════════════════════════════════

  /vehicle/get/{identifier}:
    get:
      tags: [Vehicles]
      summary: Lookup vehicle
      description: |
        Look up vehicle data from Norwegian public registries (Statens vegvesen + Brønnøysund).
        Returns technical specifications, registration data, and any registered liens.

        **Note:** Each call costs 0.5 NOK and is tracked in API usage.
      operationId: vehicleGet
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: License plate (e.g. `AB12345`) or VIN (17+ characters)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle:
                    type: object
                    description: Vehicle data from Vegvesen
                  brreg_liens:
                    type: array
                    items:
                      type: object
                    description: Registered liens from Brønnøysund
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vehicle/add:
    post:
      tags: [Vehicles]
      summary: Add vehicle to inventory
      description: Creates a new vehicle record and ad listing from registration data.
      operationId: vehicleAdd
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: License plate or VIN
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vehicle/oemEquipment/{identifier}:
    get:
      tags: [Vehicles]
      summary: Get OEM equipment list
      description: Returns factory equipment list for a vehicle by license plate or VIN.
      operationId: vehicleOemEquipment
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: License plate or VIN
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vehicle/serviceHistory/{identifier}:
    get:
      tags: [Vehicles]
      summary: Get service history
      description: Returns the EU/PKK inspection and service history for a vehicle.
      operationId: vehicleServiceHistory
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: License plate or VIN
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vehicle/owners/{identifier}:
    get:
      tags: [Vehicles]
      summary: Get ownership history
      description: Returns the registered ownership history for a vehicle.
      operationId: vehicleOwners
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: License plate
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  DEALS
  # ═══════════════════════════════════════════════════════════════════════

  /deals/list:
    get:
      tags: [Deals]
      summary: List offers
      description: Returns a paginated list of offers with filters. Includes customer and vehicle summaries.
      operationId: dealsList
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            default: all
            enum: [all, draft, sent, accepted, declined, expired, converted]
        - name: type
          in: query
          schema:
            type: string
            example: salg,innkjop
          description: Comma-separated offer types
        - name: sortBy
          in: query
          schema:
            type: string
            default: newest
            enum: [newest, oldest, price_desc, price_asc, customer_asc]
        - name: search
          in: query
          schema:
            type: string
          description: Search by offer number, customer, or vehicle
        - name: customer
          in: query
          schema:
            type: string
        - name: vehicle
          in: query
          schema:
            type: string
        - name: priceFrom
          in: query
          schema:
            type: number
        - name: priceTo
          in: query
          schema:
            type: number
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DealOfferSummary"
                  page:
                    type: integer
                  perPage:
                    type: integer
                  pages:
                    type: integer
                  total:
                    type: integer
                  statusCounts:
                    $ref: "#/components/schemas/DealStatusCounts"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /deals/get/{id}:
    get:
      tags: [Deals]
      summary: Get offer
      description: Full offer details including vehicles with financing, line items, trade-ins, events, signatures, and attachments.
      operationId: dealsGet
      parameters:
        - $ref: "#/components/parameters/DealId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    $ref: "#/components/schemas/DealOfferDetail"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /deals/add:
    post:
      tags: [Deals]
      summary: Create offer
      description: |
        Creates a new deal offer. `offer_type` is required. A unique `offer_number` and `portal_token` are auto-generated.
      operationId: dealsAdd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealOfferCreate"
            example:
              offer_type: salg
              customer_id: 1234
              total_price: 450000
              vat_amount: 90000
              vat_rate: 25
              include_vat: 1
              valid_until: "2025-08-01"
              notes: "Tilbud gjelder i 14 dager."
              vehicles:
                - vehicle_id: 5678
                  make: Toyota
                  model: RAV4
                  year: 2023
                  registration_number: AB12345
                  vehicle_price: 420000
                  mileage: 35000
                  include_financing: 1
                  financing_type: annuity
                  down_payment: 100000
                  interest_rate: 5.99
                  loan_term_months: 60
                  loan_amount: 320000
                  monthly_payment: 6195
              line_items:
                - name: Lakk-beskyttelse
                  quantity: 1
                  unit_price: 15000
                  total_price: 15000
              trade_ins:
                - make: Volkswagen
                  model: Golf
                  year: 2018
                  registration_number: CD67890
                  mileage: 95000
                  estimated_value: 120000
                  condition: good
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 42
                      portal_token:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /deals/update/{id}:
    put:
      tags: [Deals]
      summary: Update offer
      description: |
        Updates an existing offer. `vehicles`, `line_items`, and `trade_ins` arrays are replaced entirely — include all items you want to keep.
      operationId: dealsUpdate
      parameters:
        - $ref: "#/components/parameters/DealId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealOfferUpdate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      portal_token:
                        type: string
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /deals/updateStatus/{id}:
    post:
      tags: [Deals]
      summary: Update offer status
      description: |
        Updates offer status. Timestamps auto-set: `sent` → `sent_at`, `accepted` → `accepted_at`, `declined` → `declined_at`.
      operationId: dealsUpdateStatus
      parameters:
        - $ref: "#/components/parameters/DealId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [draft, sent, accepted, declined]
                decline_reason:
                  type: string
                  description: Required when status is `declined`
            examples:
              send:
                summary: Send to customer
                value:
                  status: sent
              accept:
                summary: Mark accepted
                value:
                  status: accepted
              decline:
                summary: Mark declined
                value:
                  status: declined
                  decline_reason: "Kunden fant bedre pris hos konkurrent"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  message:
                    type: string
        "400":
          description: Invalid status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /deals/delete/{id}:
    delete:
      tags: [Deals]
      summary: Delete offer
      description: Permanently deletes an offer. Only `draft` or `sent` offers can be deleted.
      operationId: dealsDelete
      parameters:
        - $ref: "#/components/parameters/DealId"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  message:
                    type: string
        "400":
          description: Cannot delete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  CONTRACTS
  # ═══════════════════════════════════════════════════════════════════════

  /contract/list:
    get:
      tags: [Contracts]
      summary: List contracts
      description: Paginated list of contracts with filters. Includes vehicle summary, owners, and signature status.
      operationId: contractList
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            default: alle
            enum: [alle, utkast, venter_signering, fullfort]
          description: |
            `alle` = all, `utkast` = draft, `venter_signering` = awaiting signatures, `fullfort` = completed
        - name: type
          in: query
          schema:
            type: string
            default: alle
            enum: [alle, salg, innkjop, formidling, kommisjon]
        - name: sortBy
          in: query
          schema:
            type: string
            default: newest
            enum: [newest, oldest, customer_asc, customer_desc, vehicle_asc, vehicle_desc]
        - name: search
          in: query
          schema:
            type: string
          description: Search by customer, vehicle, or contract ID
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContractSummary"
                  page:
                    type: integer
                  perPage:
                    type: integer
                  pages:
                    type: integer
                  total:
                    type: integer
                  statusCounts:
                    $ref: "#/components/schemas/ContractStatusCounts"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /contract/get/{id}:
    get:
      tags: [Contracts]
      summary: Get contract
      description: Full contract details including vehicle, owners with signature status, pricing, payment, trade-in, insurance, and warranty data.
      operationId: contractGet
      parameters:
        - $ref: "#/components/parameters/ContractId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  data:
                    $ref: "#/components/schemas/ContractDetail"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/add:
    post:
      tags: [Contracts]
      summary: Create contract
      description: |
        Creates a contract using the simplified flow — details, settlement, and owner in a single call.

        Set `contract_type` to `BUY` for incoming (purchase) contracts or `SELL` for outgoing (sale) contracts.
      operationId: contractAdd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractCreate"
            examples:
              buy:
                summary: Buy contract (incoming purchase)
                value:
                  contract_type: BUY
                  vehicle_id: 5678
                  ads_id: 1234
                  price: 250000
                  delivery_date: "2025-07-01"
                  mileage: 50000
                  contract_art_type: PURCHASE
                  customer_account_number: "12345678901"
                  owner_type: PERSON
                  owner_first_name: Ola
                  owner_last_name: Nordmann
                  owner_email: ola@example.com
                  owner_phone: "91234567"
              sell:
                summary: Sell contract (outgoing sale)
                value:
                  contract_type: SELL
                  vehicle_id: 5678
                  ads_id: 1234
                  price: 350000
                  delivery_date: "2025-07-15"
                  mileage: 65000
                  omreg_price: 3200
                  account_number: "98765432101"
                  owner_type: PERSON
                  owner_first_name: Kari
                  owner_last_name: Hansen
                  owner_email: kari@example.com
                  owner_phone: "98765432"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                  contract_id:
                    type: integer
                    example: 123
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/update/{id}:
    put:
      tags: [Contracts]
      summary: Update contract
      description: |
        Updates fields on a DRAFT contract. Pass one or more fields to update. Only allowed fields are accepted; unknown fields are ignored.
      operationId: contractUpdate
      parameters:
        - $ref: "#/components/parameters/ContractId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractUpdate"
            example:
              price: 260000
              mileage: 51000
              comments: "Oppdatert pris etter vurdering"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: Kontrakt oppdatert
                  updated_fields:
                    type: array
                    items:
                      type: string
                    example: [price, mileage, comments]
                  errors:
                    type: array
                    items:
                      type: string
                    description: Any fields that failed to update
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/sign/{id}:
    post:
      tags: [Contracts]
      summary: Complete contract
      description: |
        Marks a DRAFT contract as completed without going through the digital signing flow (BankID/E-Sign).

        Use this when signatures are handled outside of AutoNet. The contract must be in `DRAFT` status.

        > **Note:** Digital signing via BankID is only available through the AutoNet portal UI and cannot be initiated via the API.
      operationId: contractSign
      parameters:
        - $ref: "#/components/parameters/ContractId"
      responses:
        "200":
          description: Contract completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
        "400":
          description: Contract is not in DRAFT status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                response: error
                message: Kontrakten er ikke i utkast.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/delete/{id}:
    delete:
      tags: [Contracts]
      summary: Delete contract
      description: Deletes a contract. Only `DRAFT` contracts without active signature requests can be deleted.
      operationId: contractDelete
      parameters:
        - $ref: "#/components/parameters/ContractId"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
        "400":
          description: Cannot delete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/invoicePdf/{id}:
    get:
      tags: [Contracts]
      summary: Download contract invoice PDF
      description: |
        Returns the contract invoice as a PDF document.

        If the contract has an invoice registered in the accounting system, the accounting PDF is returned.
        Otherwise a generated invoice PDF is returned based on the contract data and order lines.
      operationId: contractInvoicePdf
      parameters:
        - $ref: "#/components/parameters/ContractId"
        - name: currency
          in: query
          schema:
            type: string
            default: NOK
        - name: currency_value
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Contract not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contract/pdf/{id}:
    get:
      tags: [Contracts]
      summary: Download contract document PDF
      description: |
        Returns the full contract document as a PDF with professional headers, footers, and company branding.

        For completed contracts with digital signatures (BankID), the signed PDF is returned when available.
        Otherwise a generated contract PDF is returned with all contract details, terms, declarations, and attached documents.
      operationId: contractPdf
      parameters:
        - $ref: "#/components/parameters/ContractId"
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Contract not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  LEADS
  # ═══════════════════════════════════════════════════════════════════════

  /leads/get:
    get:
      tags: [Leads]
      summary: List leads
      description: |
        Returns leads with pagination and filters. Supports search, status filtering, sorting, and date ranges via query parameters.
      operationId: leadsList
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: rows_limit
          in: query
          schema:
            type: integer
            default: 25
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: sort_by
          in: query
          schema:
            type: string
        - name: category_id
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /leads/get/{id}:
    get:
      tags: [Leads]
      summary: Get lead
      description: Returns full lead details by ID.
      operationId: leadsGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/getCorrespondence/{id}:
    get:
      tags: [Leads]
      summary: Get lead correspondence
      description: Returns all messages and correspondence for a lead.
      operationId: leadsGetCorrespondence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Lead ID
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/categories:
    get:
      tags: [Leads]
      summary: List lead categories
      description: Returns all lead/mailbox categories for the company.
      operationId: leadsCategories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/categories/{id}:
    get:
      tags: [Leads]
      summary: Get lead category
      description: Returns a single lead category by ID.
      operationId: leadsCategoryGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/add:
    post:
      tags: [Leads]
      summary: Create lead
      description: |
        Creates a new lead. `source` and `name` are required.
      operationId: leadsAdd
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [source, name]
              properties:
                source:
                  type: string
                  description: "**Required.** Lead source (e.g. website name, campaign)"
                name:
                  type: string
                  description: "**Required.** Customer name"
                email:
                  type: string
                phone:
                  type: string
                category_id:
                  type: integer
                  description: Lead category ID
                assigned_member_ids:
                  type: array
                  items:
                    type: integer
                  description: Member IDs to assign
                priority:
                  type: string
                  enum: [LOW, MEDIUM, HIGH]
                  default: LOW
                vehicle_ids:
                  type: array
                  items:
                    type: integer
                  description: Vehicle IDs the lead is interested in
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: success
                  leadId:
                    type: integer
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/incoming/{id}:
    post:
      tags: [Leads]
      summary: Add incoming message
      description: |
        Adds an incoming message/correspondence to an existing lead. Useful for integrating external communication channels.
      operationId: leadsIncoming
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Lead ID
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [source, message_id, body]
              properties:
                source:
                  type: string
                  description: "**Required.** Message source"
                subject:
                  type: string
                body:
                  type: string
                  description: "**Required.** Message body"
                message_id:
                  type: string
                  description: "**Required.** Unique message identifier (for deduplication)"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leads/sendMessage/{id}:
    post:
      tags: [Leads]
      summary: Send message to lead
      description: Sends a reply/message to a lead. Supports file attachments.
      operationId: leadsSendMessage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Lead ID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: Message body
                attachments:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  MEMBERS
  # ═══════════════════════════════════════════════════════════════════════

  /member/get:
    get:
      tags: [Members]
      summary: List members
      description: Returns all team members for the company.
      operationId: memberList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /member/get/{id}:
    get:
      tags: [Members]
      summary: Get member
      description: Returns a single team member by ID.
      operationId: memberGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
                maxItems: 1
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  DATA (Reference)
  # ═══════════════════════════════════════════════════════════════════════

  /data/makes:
    get:
      tags: [Data]
      summary: List vehicle makes
      description: Returns all vehicle makes (e.g. Toyota, Volkswagen). Optionally filter by vehicle type.
      operationId: dataMakes
      parameters:
        - name: vehicle_type
          in: query
          schema:
            type: string
            default: CAR
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/makes/{id}:
    get:
      tags: [Data]
      summary: Get vehicle make
      operationId: dataMakeGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: vehicle_type
          in: query
          schema:
            type: string
            default: CAR
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/makeModels/{makeId}:
    get:
      tags: [Data]
      summary: List models for a make
      description: Returns all models for a specific vehicle make.
      operationId: dataMakeModels
      parameters:
        - name: makeId
          in: path
          required: true
          schema:
            type: integer
          description: Make ID (from `/data/makes`)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/makeModels/{makeId}/{modelId}:
    get:
      tags: [Data]
      summary: Get specific model
      operationId: dataMakeModelGet
      parameters:
        - name: makeId
          in: path
          required: true
          schema:
            type: integer
        - name: modelId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/vehicleTypes:
    get:
      tags: [Data]
      summary: List vehicle types
      description: Returns all available vehicle type categories (Car, MC, Caravan, etc.).
      operationId: dataVehicleTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [USED, NEW, MOBILEHOME, CARAVAN, TRAILER, B2B, BUS, MC, SCOOTER, SNOWMOBILE, ATV]
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/fuels:
    get:
      tags: [Data]
      summary: List fuel types
      description: Returns all fuel types (Bensin, Diesel, Elektrisk, etc.).
      operationId: dataFuels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/fuels/{id}:
    get:
      tags: [Data]
      summary: Get fuel type
      operationId: dataFuelGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/colors:
    get:
      tags: [Data]
      summary: List colors
      description: Returns all vehicle color options.
      operationId: dataColors
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/colors/{id}:
    get:
      tags: [Data]
      summary: Get color
      operationId: dataColorGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/bodyTypes:
    get:
      tags: [Data]
      summary: List body types
      description: Returns all vehicle body types (Sedan, SUV, Stasjonsvogn, etc.).
      operationId: dataBodyTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/bodyTypes/{id}:
    get:
      tags: [Data]
      summary: Get body type
      operationId: dataBodyTypeGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/taxClasses:
    get:
      tags: [Data]
      summary: List tax/registration classes
      description: Returns all vehicle registration classes.
      operationId: dataTaxClasses
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /data/taxClasses/{id}:
    get:
      tags: [Data]
      summary: Get tax/registration class
      operationId: dataTaxClassGet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ═══════════════════════════════════════════════════════════════════════
  #  DOCUMENTS
  # ═══════════════════════════════════════════════════════════════════════

  /documents/get/{table}/{tableId}:
    get:
      tags: [Documents]
      summary: Get documents
      description: |
        Returns all documents attached to an entity.

        The `table` parameter specifies the entity type (e.g. `contracts`, `ads`, `leads`).
      operationId: documentsGet
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: Entity type (e.g. `contracts`, `ads`, `leads`, `vehicles`)
        - name: tableId
          in: path
          required: true
          schema:
            type: integer
          description: Entity ID
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    url:
                      type: string
                    description:
                      type: string
                    creation_date:
                      type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /documents/upload/{table}/{tableId}:
    post:
      tags: [Documents]
      summary: Upload document
      description: |
        Uploads a document file to an entity.
      operationId: documentsUpload
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: Entity type (e.g. `contracts`, `ads`, `leads`, `vehicles`)
        - name: tableId
          in: path
          required: true
          schema:
            type: integer
          description: Entity ID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                description:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

# ═══════════════════════════════════════════════════════════════════════
#  COMPONENTS
# ═══════════════════════════════════════════════════════════════════════

components:

  securitySchemes:
    ApiToken:
      type: apiKey
      in: header
      name: token
      description: API token from AutoNet portal

  parameters:
    DealId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Offer ID
    ContractId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Contract ID

  schemas:

    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          example: error
        message:
          type: string

    # ── Data (Reference) ──

    DataItem:
      type: object
      properties:
        id:
          type: integer
        value:
          type: string
          description: Internal value
        display:
          type: string
          description: Display name

    # ── Members ──

    Member:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        telephone:
          type: string
        date_of_birth:
          type: string
        address:
          type: object
          properties:
            street:
              type: string
            postal_code:
              type: string
            city:
              type: string
            country:
              type: string
              example: "NO"
        job_position:
          type: string
        profile_picture_url:
          type: string
          nullable: true
        2fa_activated:
          type: boolean
        permissions:
          type: object
        notifications:
          type: object
        active:
          type: boolean

    # ── Deals ──

    DealStatusCounts:
      type: object
      properties:
        all:
          type: integer
        draft:
          type: integer
        sent:
          type: integer
        expired:
          type: integer
        accepted:
          type: integer
        declined:
          type: integer
        converted:
          type: integer

    DealCustomer:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        phone_number:
          type: string

    DealVehicle:
      type: object
      properties:
        id:
          type: integer
        vehicle_id:
          type: integer
          nullable: true
        make:
          type: string
        model:
          type: string
        variant:
          type: string
        year:
          type: integer
        vin:
          type: string
        registration_number:
          type: string
        mileage:
          type: integer
        fuel_type:
          type: string
        transmission:
          type: string
        color:
          type: string
        is_new:
          type: integer
          enum: [0, 1]
        vehicle_price:
          type: number
        discount_amount:
          type: number
        fees_amount:
          type: number
        fees_description:
          type: string
        engangsavgift:
          type: number
        estimated_price:
          type: number
        commission_amount:
          type: number
        commission_rate:
          type: number
        freight:
          type: number
        warranty:
          type: number
        winter_wheels:
          type: number
        preparation:
          type: number
        repair:
          type: number
        paint_body:
          type: number
        diverse:
          type: number
        weight_tax:
          type: number
        import_vat:
          type: number
        kalkyle_visible:
          type: integer
          enum: [0, 1]
        image_url:
          type: string

    DealVehicleFinancing:
      type: object
      properties:
        include_financing:
          type: integer
          enum: [0, 1]
        financing_type:
          type: string
          example: annuity
        down_payment:
          type: number
        interest_rate:
          type: number
        loan_term_months:
          type: integer
        residual_value:
          type: number
        establishment_fee:
          type: number
        loan_amount:
          type: number
        monthly_payment:
          type: number
        tradein_as_equity:
          type: integer
          enum: [0, 1]

    DealVehicleDetail:
      allOf:
        - $ref: "#/components/schemas/DealVehicle"
        - type: object
          properties:
            financing:
              $ref: "#/components/schemas/DealVehicleFinancing"
            purchase_price:
              type: number
            ingoing_contract_type:
              type: string
              nullable: true
            total_costs:
              type: number
            condition_reports:
              type: array
              items:
                type: object

    DealLineItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        quantity:
          type: integer
        unit_price:
          type: number
        discount:
          type: number
        total_price:
          type: number
        vat_rate:
          type: integer
        is_upsell:
          type: integer
          enum: [0, 1]
        include_in_financing:
          type: integer
          enum: [0, 1]
        payment_type:
          type: string

    DealTradeIn:
      type: object
      properties:
        id:
          type: integer
        make:
          type: string
        model:
          type: string
        year:
          type: integer
        registration_number:
          type: string
        vin:
          type: string
        mileage:
          type: integer
        fuel_type:
          type: string
        color:
          type: string
        condition:
          type: string
        estimated_value:
          type: number
        vehicle_price:
          type: number
        notes:
          type: string

    DealEvent:
      type: object
      properties:
        id:
          type: integer
        event_type:
          type: string
        description:
          type: string
        member_name:
          type: string
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time

    DealSignature:
      type: object
      properties:
        id:
          type: integer
        signer_name:
          type: string
        signer_email:
          type: string
        signed_at:
          type: string
          format: date-time
          nullable: true

    DealOfferSummary:
      type: object
      properties:
        id:
          type: integer
        offer_number:
          type: integer
        offer_type:
          type: string
          enum: [innkjop, kommisjon, formidling, salg]
        status:
          type: string
          enum: [draft, sent, accepted, declined, converted, expired]
        customer_id:
          type: integer
          nullable: true
        total_price:
          type: number
        vat_amount:
          type: number
        vat_rate:
          type: integer
        include_vat:
          type: integer
          enum: [0, 1]
        valid_until:
          type: string
          format: date
          nullable: true
        sent_at:
          type: string
          format: date-time
          nullable: true
        accepted_at:
          type: string
          format: date-time
          nullable: true
        declined_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        customer:
          $ref: "#/components/schemas/DealCustomer"
        vehicles:
          type: array
          items:
            $ref: "#/components/schemas/DealVehicle"

    DealOfferDetail:
      allOf:
        - $ref: "#/components/schemas/DealOfferSummary"
        - type: object
          properties:
            decline_reason:
              type: string
              nullable: true
            portal_token:
              type: string
            terms_template_id:
              type: integer
              nullable: true
            terms_template_name:
              type: string
              nullable: true
            terms_template_body:
              type: string
              nullable: true
            internal_notes:
              type: string
            equipment_data:
              type: string
              nullable: true
            lead_id:
              type: integer
              nullable: true
            customer_fills:
              type: integer
              enum: [0, 1]
            vehicles:
              type: array
              items:
                $ref: "#/components/schemas/DealVehicleDetail"
            line_items:
              type: array
              items:
                $ref: "#/components/schemas/DealLineItem"
            trade_ins:
              type: array
              items:
                $ref: "#/components/schemas/DealTradeIn"
            events:
              type: array
              items:
                $ref: "#/components/schemas/DealEvent"
            signatures:
              type: array
              items:
                $ref: "#/components/schemas/DealSignature"
            attachments:
              type: array
              items:
                type: object

    DealOfferCreate:
      type: object
      required: [offer_type]
      properties:
        offer_type:
          type: string
          enum: [innkjop, kommisjon, formidling, salg]
          description: "**Required**"
        customer_id:
          type: integer
          nullable: true
        total_price:
          type: number
        vat_amount:
          type: number
        vat_rate:
          type: integer
          default: 25
        include_vat:
          type: integer
          enum: [0, 1]
        valid_until:
          type: string
          format: date
          nullable: true
        terms_template_id:
          type: integer
          nullable: true
        notes:
          type: string
          description: Visible to customer
        internal_notes:
          type: string
          description: Internal only
        customer_fills:
          type: integer
          enum: [0, 1]
        lead_id:
          type: integer
          nullable: true
        vehicles:
          type: array
          items:
            $ref: "#/components/schemas/DealVehicleInput"
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/DealLineItemInput"
        trade_ins:
          type: array
          items:
            $ref: "#/components/schemas/DealTradeInInput"

    DealOfferUpdate:
      type: object
      description: Same fields as create. Arrays are replaced entirely.
      properties:
        offer_type:
          type: string
          enum: [innkjop, kommisjon, formidling, salg]
        customer_id:
          type: integer
          nullable: true
        total_price:
          type: number
        vat_amount:
          type: number
        vat_rate:
          type: integer
        include_vat:
          type: integer
          enum: [0, 1]
        valid_until:
          type: string
          format: date
          nullable: true
        notes:
          type: string
        internal_notes:
          type: string
        customer_fills:
          type: integer
          enum: [0, 1]
        vehicles:
          type: array
          items:
            $ref: "#/components/schemas/DealVehicleInput"
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/DealLineItemInput"
        trade_ins:
          type: array
          items:
            $ref: "#/components/schemas/DealTradeInInput"

    DealVehicleInput:
      type: object
      properties:
        vehicle_id:
          type: integer
          nullable: true
          description: Inventory vehicle reference
        make:
          type: string
        model:
          type: string
        variant:
          type: string
        year:
          type: integer
        vin:
          type: string
        registration_number:
          type: string
        mileage:
          type: integer
        fuel_type:
          type: string
        transmission:
          type: string
        color:
          type: string
        is_new:
          type: integer
          enum: [0, 1]
        vehicle_price:
          type: number
        discount_amount:
          type: number
        fees_amount:
          type: number
        fees_description:
          type: string
        engangsavgift:
          type: number
        estimated_price:
          type: number
        commission_amount:
          type: number
        commission_rate:
          type: number
        freight:
          type: number
        warranty:
          type: number
        winter_wheels:
          type: number
        preparation:
          type: number
        repair:
          type: number
        paint_body:
          type: number
        diverse:
          type: number
        weight_tax:
          type: number
        import_vat:
          type: number
        kalkyle_visible:
          type: integer
          enum: [0, 1]
        include_financing:
          type: integer
          enum: [0, 1]
        financing_type:
          type: string
        down_payment:
          type: number
        interest_rate:
          type: number
        loan_term_months:
          type: integer
        residual_value:
          type: number
        establishment_fee:
          type: number
        loan_amount:
          type: number
        monthly_payment:
          type: number
        tradein_as_equity:
          type: integer
          enum: [0, 1]

    DealLineItemInput:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        quantity:
          type: integer
        unit_price:
          type: number
        discount:
          type: number
        total_price:
          type: number
        vat_rate:
          type: integer
        is_upsell:
          type: integer
          enum: [0, 1]
        include_in_financing:
          type: integer
          enum: [0, 1]
        payment_type:
          type: string

    DealTradeInInput:
      type: object
      properties:
        make:
          type: string
        model:
          type: string
        year:
          type: integer
        registration_number:
          type: string
        vin:
          type: string
        mileage:
          type: integer
        fuel_type:
          type: string
        color:
          type: string
        condition:
          type: string
          description: good, fair, poor
        estimated_value:
          type: number
        vehicle_price:
          type: number
        notes:
          type: string

    # ── Contracts ──

    ContractStatusCounts:
      type: object
      properties:
        alle:
          type: integer
          description: Total
        utkast:
          type: integer
          description: Drafts
        venter_signering:
          type: integer
          description: Awaiting signatures
        fullfort:
          type: integer
          description: Completed

    ContractOwner:
      type: object
      properties:
        id:
          type: integer
        contracts_id:
          type: integer
        customer_id:
          type: integer
          nullable: true
        type:
          type: string
          enum: [PERSON, COMPANY, CO_PERSON, CO_COMPANY]
        email:
          type: string
        mobile:
          type: string
        name:
          type: string
        identifier:
          type: string
          description: Personal ID or org number
        first_name:
          type: string
        last_name:
          type: string
        company_name:
          type: string
        address1:
          type: string
        postal_code:
          type: string
        city:
          type: string
        country:
          type: string
        is_dealer:
          type: boolean
        is_foreign:
          type: boolean
        signature_data:
          type: object
          nullable: true
          properties:
            type:
              type: string
              enum: [MANUAL, DIGITAL]
            status:
              type: integer
              description: "1 = not signed, 2 = signed, 3 = cancelled"
            uri:
              type: string
              nullable: true
        sent_signature_request:
          type: boolean

    ContractSummary:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        vehicles_id:
          type: integer
        ads_id:
          type: integer
        contract_type:
          type: string
          enum: [BUY, SELL]
        contract_art_type:
          type: string
          enum: [SALE, PURCHASE, SPECIAL_PURCHASE, BROKERAGE, COMMISION]
        contract_art_type_nice:
          type: string
        is_special:
          type: integer
          enum: [0, 1]
        price:
          type: integer
        status:
          type: string
          enum: [DRAFT, CONTRACT_SIGNED, COMPLETED]
        sent_signature_request:
          type: boolean
        vehicle_name:
          type: string
          example: "2023 Toyota RAV4"
        vehicle_thumbnail:
          type: string
        owners_data:
          type: array
          items:
            $ref: "#/components/schemas/ContractOwner"
        creation_date_unix:
          type: integer
        update_date_unix:
          type: integer
        display_creation_date:
          type: string
        display_update_date:
          type: string
        creation_member:
          type: string
        signature:
          type: object
          nullable: true
          properties:
            requires_signature:
              type: boolean
            signed:
              type: boolean
        has_accounting:
          type: boolean
        has_tradein:
          type: boolean

    ContractDetail:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        vehicles_id:
          type: integer
        ads_id:
          type: integer
        contract_type:
          type: string
          enum: [BUY, SELL]
        contract_art_type:
          type: string
          enum: [SALE, PURCHASE, SPECIAL_PURCHASE, BROKERAGE, COMMISION]
        contract_art_type_nice:
          type: string
        is_special:
          type: integer
          enum: [0, 1]
        status:
          type: string
          enum: [DRAFT, CONTRACT_SIGNED, COMPLETED]
        payment_type:
          type: string
          enum: [CREDITLINE, FINANCE, BANK_TRANSFER, CARD_PAYMENT, CASH]
          nullable: true
        price:
          type: integer
        price_nice:
          type: string
          example: "450 000"
        sell_price:
          type: number
          nullable: true
        omreg_price:
          type: integer
          description: Registration fee
        discount:
          type: integer
        vehicle_mva:
          type: integer
          description: Vehicle VAT
        mileage:
          type: integer
        keys:
          type: integer
        delivery_date:
          type: string
        delivery_date_unix:
          type: integer
        extras:
          type: string
          nullable: true
        more_info:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        internal_notes:
          type: string
          nullable: true
        account_number:
          type: string
          nullable: true
        customer_account_number:
          type: string
          nullable: true
          description: Customer's bank account (BUY contracts)
        kid:
          type: string
          nullable: true
          description: KID payment reference
        invoice_number:
          type: integer
          nullable: true
        owners_data:
          type: array
          items:
            $ref: "#/components/schemas/ContractOwner"
        insurance:
          type: object
          nullable: true
          properties:
            company_id:
              type: integer
            type:
              type: string
            yearly_mileage:
              type: integer
            transfer:
              type: string
        tradein_data:
          type: object
          nullable: true
          description: Trade-in vehicle data
        loan_equity:
          type: integer
          description: Down payment
        loan_time:
          type: integer
          description: Loan term in years
        lien_resolver:
          type: string
          enum: [OWNER, DEALER]
          nullable: true
        lien_difference:
          type: integer
        liens_data:
          type: array
          items:
            type: object
        cash_inprice:
          type: integer
        card_inprice:
          type: integer
        card_inprice2:
          type: integer
        warranty_id:
          type: integer
        warranty_status:
          type: integer
        warranty_data:
          type: object
          nullable: true
        leasing:
          type: object
          properties:
            active:
              type: boolean
            data:
              type: object
              nullable: true
        language:
          type: string
          enum: [NO, EN]
        offer_id:
          type: integer
          nullable: true
          description: Linked deal offer
        lead_id:
          type: integer
          nullable: true
        connected_vehicles_id:
          type: integer
          nullable: true
        transport_id:
          type: integer
          nullable: true
        accounting_identifier:
          type: string
          nullable: true
        sent_signature_request:
          type: boolean
        creation_date:
          type: string
        update_date:
          type: string
        sold_date:
          type: string
        creation_date_unix:
          type: integer
        update_date_unix:
          type: integer
        sold_date_unix:
          type: integer
        creation_member:
          type: string
        update_member:
          type: string
        sold_member:
          type: string
        vehicle_name:
          type: string
        vehicle_thumbnail:
          type: string
        agreement_template:
          type: object
          nullable: true
        settings_data:
          type: object
        payment_data:
          type: array
          items:
            type: object
        payment_status:
          type: object
          nullable: true

    ContractCreate:
      type: object
      required: [contract_type, vehicle_id, price, delivery_date, owner_type]
      properties:
        contract_type:
          type: string
          enum: [BUY, SELL]
          description: "**Required.** `BUY` = incoming purchase, `SELL` = outgoing sale"
        vehicle_id:
          type: integer
          description: "**Required.** Vehicle ID from inventory"
        ads_id:
          type: integer
          description: Ad ID (if vehicle has an ad)
          default: 0
        price:
          type: integer
          description: "**Required.** Contract price in NOK"
        delivery_date:
          type: string
          format: date
          description: "**Required.** Handover date (YYYY-MM-DD)"
        mileage:
          type: integer
          default: 0
        contract_art_type:
          type: string
          enum: [PURCHASE, BROKERAGE, SPECIAL_PURCHASE, COMMISION]
          default: PURCHASE
          description: BUY contracts only
        customer_account_number:
          type: string
          description: "Customer's 11-digit bank account (BUY contracts)"
        account_number:
          type: string
          description: Bank account number (SELL contracts)
        omreg_price:
          type: integer
          description: Registration fee (SELL contracts)
          default: 0
        extras:
          type: string
          description: Equipment / extras
        comments:
          type: string
          description: Additional comments
        owner_type:
          type: string
          enum: [PERSON, COMPANY]
          description: "**Required.** Buyer/seller type"
        owner_first_name:
          type: string
          description: Required if owner_type is PERSON
        owner_last_name:
          type: string
        owner_company_name:
          type: string
          description: Required if owner_type is COMPANY
        owner_identifier:
          type: string
          description: Personal ID (11 digits) or org number (9 digits)
        owner_email:
          type: string
        owner_phone:
          type: string
        owner_address:
          type: string
        owner_postal_code:
          type: string
        owner_city:
          type: string

    ContractUpdate:
      type: object
      description: |
        Pass any combination of allowed fields. Only DRAFT contracts can be updated.
      properties:
        price:
          type: integer
          description: Contract price
        mileage:
          type: integer
        omreg_price:
          type: integer
          description: Registration fee
        vehicle_mva:
          type: integer
          description: Vehicle VAT
        discount:
          type: integer
        comments:
          type: string
          description: Maps to `more_info` field
        equipment:
          type: string
          description: Maps to `extras` field
        delivery_date:
          type: string
          format: date
        paymentmethod:
          type: string
          enum: [CREDITLINE, FINANCE, BANK_TRANSFER, CARD_PAYMENT, CASH]
        loan_equity:
          type: integer
        cash_inprice:
          type: integer
        card_inprice:
          type: integer
        card_inprice2:
          type: integer
        lien_resolver:
          type: string
          enum: [OWNER, DEALER]
        remaining_liens:
          type: integer
        insurancetype:
          type: string
          description: SELL contracts only
        insurancecompany:
          type: integer
          description: Insurance company ID
        insuranceyearlymileage:
          type: integer
        insurancetransfer:
          type: string

  responses:
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            response: error
            message: No token provided
    Forbidden:
      description: Token missing required scope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            response: error
            message: "No permissions granted to controller. Requires scope: contract"
    RateLimited:
      description: Rate limit exceeded (500/day)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            response: error
            message: Max 500 requests per day reached

security:
  - ApiToken: []
