openapi: 3.0.0
servers:
  - description: AutoNet REST API
    url: https://app.autonet.no/rest/v1
info:
  description: >
    API for accessing dealer data from AutoNet. This API uses token-based authentication. 
    To access any endpoint, clients must include a 'Token' header with the token found 
    [here](https://app.autonet.no/page/company) under the "API Access" tab.
  version: "1.0.0"
  title: AutoNet API
  contact:
    email: zk@autonet.no
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  /ad/get:
    get:
      tags:
        - Ads
      summary: Get a list of all ads
      description: Returns a list of all car sale ads
      security:
        - TokenHeader: []
      parameters:
        - name: rows_limit
          in: query
          description: Limit the number of rows returned
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: total_rows
          in: query
          description: Total number of rows available
          required: false
          schema:
            type: integer
            format: int32
        - name: order_by
          in: query
          description: Specify the field to order the results by
          required: false
          schema:
            type: string
            enum:
              - update_date
              - creation_date
              - publish_date
              - sale_type
              - contact_id
              - total_price
        - name: order_direction
          in: query
          description: Specify the direction of sorting (e.g., ASC for ascending, DESC for descending)
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: A list of ads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ad'
  /ad/get/{ID}:
     get:
      tags:
        - Ads
      summary: Get a specific ad
      description: Returns a specific car sale ad based on the provided ID
      security:
        - TokenHeader: []
      parameters:
        - name: ID
          in: path
          required: true
          description: Unique ID of the ad
          schema:
            type: integer
      responses:
        '200':
          description: A specific ad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Ad not found
components:
  schemas:
    Ad:
      type: object
      properties:
        ads_id:
          type: integer
          format: int32
        sale_type:
          type: string
          enum:
            - USED_CAR
            - NEW_CAR
            - USED_MC
            - NEW_MC
            - MOBILEHOME
            - CARAVAN
            - TRAILER
            - BUS
            - LEASING
            - CAR_AUCTION
            - CAR_SUBSCRIPTION
        title:
          type: string
        description:
          type: string
          description: HTML based description
        contact_id:
          type: integer
          format: int32
        registration_price:
          type: integer
          format: int32
        total_price:
          type: integer
          format: int32
        preferences:
          $ref: '#/components/schemas/Preferences'
        address:
          $ref: '#/components/schemas/Address'
        creation_date_unix:
          type: integer
          format: int64
        update_date_unix:
          type: integer
          format: int64
        publish_date_unix:
          type: integer
          format: int64
        sold_date_unix:
          type: integer
          format: int64
        media:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        vehicle:
          type: array
          items:
            $ref: '#/components/schemas/VehicleItem'

    VehicleItem:
          type: object
          properties:
            vehicles_id:
              type: integer
              format: int32
            identifier:
              type: string
              description: Returns license_number or VIN, whatever is available
            license_number:
              type: string
            vin:
              type: string
            year:
              type: integer
              format: int32
            mileage_int:
              type: integer
              format: int32
            fuel:
              type: string
            weight:
              type: integer
              format: int32
            gearbox:
              type: string
            doors:
              type: integer
              format: int32
            seats:
              type: integer
              format: int32
            max_towing:
              type: integer
              format: int32
            total_owners:
              type: integer
              format: int32
            loadingarea:
              type: integer
              format: int32
            batterykwh:
              type: integer
              format: int32
            batteryrange:
              type: integer
              format: int32
            co2:
              type: integer
              format: int32
            tax_class:
              type: string
            body_text:
              type: string
            cc:
              type: integer
              format: int32
            horsepower:
              type: integer
            exterior_color:
              $ref: '#/components/schemas/Color'
            interior_color:
              type: string
            wheel_drive:
              type: string
            vehicletype:
              type: string
            condition_report_url:
              type: string
            vehiclewarranty:
              type: string
            vehiclewarranty_id:
              type: integer
              format: int32
            vehiclewarranty_months:
              type: integer
              format: int32
            vehiclewarranty_mileage:
              type: integer
              format: int32
            maintenanceprogram:
              type: integer
              format: int32
            right_to_exchange:
              type: integer
              format: int32
            first_registration_unix:
              type: integer
              format: int32
            eu_last_date:
              type: string
            eu_next_date:
              type: string
            make:
              $ref: '#/components/schemas/Make'
            model:
              $ref: '#/components/schemas/Model'
            make_model:
              type: string
            creation_date_unix:
              type: integer
              format: int32
            update_date_unix:
              type: integer
              format: int32
            data_update_date_unix:
              type: integer
              format: int32
            stand_time:
              type: integer
              format: int32
            incoming_date_unix:
              type: integer
              format: int32
            equipment:
              type: array
              items:
                type: string
            vehicle_status:
              type: string
            svv_status:
              type: string

    ColorItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    MakeItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    ModelItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        finn_id:
          type: string
        make_finn_id:
          type: string
        value:
          type: string
        display:
          type: string

    Preferences:
      type: object
      properties:
        hide_contact:
          type: boolean
          description: Contact person is available through API, but provider should hide
        hide_license:
          type: boolean
          description: License is available through API, but provider should hide
        hide_vin:
          type: boolean
          description: VIN is available through API, but provider should hide
        tradein_accepted:
          type: boolean
          description: Primarily used in AutoNet's www service to stop visitors from sending tradein-requests

    Address:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          type: string
          description: What kind of address it is
          enum:
            - VISITING
            - INVOICING
            - POSTAL
        address:
          type: string
        postal_code:
          type: integer
          format: int32
        city:
          type: string
        country:
          type: string
        status:
          type: string
          description: The status of the address
          enum:
            - ACTIVE
            - DEACTIVATED
          
    MediaItem:
      type: object
      properties:
        id:
            type: integer
            format: int32
        priority:
            type: integer
            format: int32
            description: Position of image, 0 is first
        url:
            type: string
            description: Full URI to AWS-auth
        description:
            type: string
            description: User-set description
        date_unix:
            type: integer
            format: int64
        background_removed:
            type: boolean
            description: If AutoNet's removebackground service has been applied
        logo_background:
            type: boolean
            description: If AutoNet's logobackground service has been applied
  securitySchemes:
    TokenHeader:
      type: apiKey
      in: header
      name: Token
security:
  - TokenHeader: []
